.schedule-accordion {
  padding: 1.182em;
}
.schedule-accordion > h4 {
  font-weight: normal;
  margin-bottom: 0.7em;
  font-size: 1.2em;
}
.schedule-accordion ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.schedule-accordion li {
  padding: 5px 4px 4px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #a6a6a6;
  zoom: 1;
}
.schedule-accordion li:before,
.schedule-accordion li:after {
  content: "";
  display: table;
}
.schedule-accordion li:after {
  clear: both;
}
.schedule-accordion li.first {
  border-top-width: 0;
}
.schedule-accordion li.last {
  border-bottom-width: 0;
}
.schedule-accordion li > .pit {
  margin-left: -9px;
  margin-top: -1px;
  float: left;
  width: 80px;
  text-align: center;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  display: block;
  position: relative;
}
.schedule-accordion li > .pit .text {
  padding: 2px 4px 8px 4px;
  display: block;
  position: relative;
}
.schedule-accordion li > .pit .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.schedule-accordion li.overdue > .pit {
  color: #fff;
}
.schedule-accordion li.overdue > .pit .bg {
  background-color: #f94749;
  -webkit-box-shadow: #f94749 0 0 3px;
  box-shadow: #f94749 0 0 3px;
}
.schedule-accordion li.in-process > .pit {
  color: #fff;
}
.schedule-accordion li.in-process > .pit .bg {
  background-color: #332d2d;
}
.schedule-accordion li.not-started > .pit {
  color: #000;
}
.schedule-accordion li.not-started > .pit .bg {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
.schedule-accordion li.infinite > .pit {
  font-size: 2em;
  line-height: 0.7;
}
.schedule-accordion li.infinite > .pit .bg {
  background-color: #fff;
}
.schedule-accordion li > .title {
  margin-left: 81px;
  display: block;
}
.schedule-accordion .schedule-full {
  text-align: center;
  font-size: 1.2em;
  margin-top: 1em;
}
.schedule-accordion .schedule-full > a {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 2px 4px;
  -webkit-transition-property: color, background-color;
  -moz-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  -ms-transition-property: color, background-color;
  transition-property: color, background-color;
}
.schedule-accordion .schedule-full > a:hover,
.schedule-accordion .schedule-full > a:active {
  background-color: transparent;
}
.page-context-accordion .schedule-accordion .schedule-full > a,
.page-context-accordion .schedule-accordion .schedule-full > a:visited,
.page-context-accordion .schedule-accordion .schedule-full > a:link {
  color: #fff;
}
.page-context-accordion .schedule-accordion .schedule-full > a:hover,
.page-context-accordion .schedule-accordion .schedule-full > a:active {
  color: inherit;
}
