<tr  class="tests">
<td valign="top" width="15%" align="center" bgcolor="#FFFFFF">[AB-select]</td>
<!--
<td valign="top" width="25%" align="center" bgcolor="#FFFFFF">[AB-ctitle]</td>
-->
<td valign="top" width="40%" align="center" bgcolor="#FFFFFF">[AB-name]</td>
<td valign="top" width="15%" align="center" bgcolor="#FFFFFF">[AB-login]</td>
<!--td valign="top" width="15%" align="center" bgcolor="#FFFFFF">[AB-move]</td><td valign="top" width="15%" align="center" bgcolor="#FFFFFF">[AB-remove]</td-->
</tr>
