<tr  class="tests">
   <td valign="top" width="15%" align="center" bgcolor="#FFFFFF">[AB-select]</td>

<!--
   <td valign="top" width="15%" align="center" bgcolor="#FFFFFF">[AB-ctitle]</td>
   <td valign="top" width="10%" align="center" bgcolor="#FFFFFF">[AB-cgr]</td>
-->
   <td valign="top" width="40%" align="center" bgcolor="#FFFFFF">[AB-name]</td>
   <td valign="top" width="40%" align="center" bgcolor="#FFFFFF">[AB-login]</td>
   <td valign="top" width="40%" align="center" bgcolor="#FFFFFF">[AB-status]</td>
   <td valign="top" width="15%" align="center" bgcolor="#FFFFFF">[AB-days]</td>
   <td valign="top" width="15%" align="center" bgcolor="#FFFFFF">[AB-rest]</td>
 </tr>
