<!-- "Begin Abitur Page" -->
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                     <tr valign="top">
                        <td width="100%" align="left" class="shedtitle">
                        <table width="100%" cellpadding="0">
                          <tr>                                                      
                            <FORM  NAME='todo' action=[PHP_SELF] method="POST">
                              <td>
                                 <table width=100% class=main cellspacing=0>
                                   <tr><th>{?t?}Действия{?/t?}</th></tr>
                                   <tr><td>
                                     [ACTION]
                                     </td>
                                   </tr>
                                  </table>
                                  <br>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <table width=100% class=main cellspacing=0>
                                  <tr><th>{?t?}Найдено{?/t?}</th></tr>
                                </table>
                                 [STUDS]
                              </td>
                             </form>
                            </tr>
                        </table>
                     </td>
                   </tr>
                 <tr valign="top" height="100%"><td>&nbsp;</td></tr>
                </table>
<!-- "End Abitur Page" -->