<!-- "Begin Tasks Page" -->
                  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="tests">
                     <tr valign="top" width="100%">
                        <td>&nbsp;
                           
                       </td>
                     </tr>
                     <tr valign="top" width="100%">
                        <td>
                           [TTASKS-MAIN]
                        </td>
                     </tr>
                     <tr valign="top" width="100%">
                        <td>&nbsp;
                           
                       </td>
                     </tr>
                     <!--tr valign="top" width="100%">
                        <td width="100%">
						<a name='form_add'></a>
                                 <form method="post" name="m" action='[PAGE]'>
                                 <input type="hidden" name="c" value="new_submit">
                                 <table cellspacing="0" cellpadding="0" border=0 width=100%>
                                 <tr>
                                    <td> 
                                       <table width=100% class=main cellspacing=0>
                                       <tr>
                                          <th valign="top"  height="12" colspan="2">[W-addnew]</th>
                                       </tr>
                                       <tr height="25" align="left">    
                                          <td>[W-newname]</td>         
                                          <td><input type=text name=name value="{?t?}Задание{?/t?}" size="60"></td>
                                       </tr>
                                          [HIDDEN-CID]
                                       </table>
                                    </td>
                                 </tr>
                                 <tr>
                                 <td align="right" valign="top"><img src="[PATH]images/spacer.gif" width=1 height=5></td>
                                 </tr>
                                 <tr>
                                 <td align="right" valign="top">[OKBUTTON]</td>
                                 </tr>
                                 </table>
								 </form>
                        </td>
                     </tr-->
                  </table>
<!-- "End Tasks Page" -->
