              <p align="left" class=title><img src="images/rule.gif" width="14" height="17">
                <B><FONT size="2" >Конструктор Дистанционных Курсов</FONT></B></p>
              <DIV align="left">
                <P><FONT size="2" class=cMain><B>Конструктор</B> мультимедийных дистанционных
                  курсов - это высокоуровневое авторское средство, ориентированное
                  на преподавателей высших и средних учебных заведений и предназначенное
                  для создания мультимедийных дистанционных курсов и электронных
                  учебников.</FONT></P>
                <P class=title><B><FONT size="2" ><img src="images/rule.gif" width="14" height="17">
                  Пользовательский интерфейс <br>максимально прост </FONT></B>
                  </p><p>
                  <FONT size="2" class=cMain>Пользовательский интерфейс программных
                  средств максимально упрощен и ориентирован на пользователей
                  (преподавателей) и предмет разработки (мультимедийные дистанционные
                  курсы). Конструктор обеспечивает создание всех компонент дистанционных
                  курсов: учебного материала (в мультимедийной форме), систем
                  тестирования (интерактивные тесты курса), средств общения (в
                  Internet), Web-сайта "Учебного Центра", а также предоставляет
                  возможность создания авторских версий курса на основе ранее
                  созданного. </FONT></P>
              </DIV>
              <p align="left" class=title><img src="images/rule.gif" width="14" height="17">
                <B><FONT size="2" >Разработка курса автоматизирована</B>
                </p><p class=cMain>
                <FONT  size="2">В Конструкторе предусмотрена максимальная
                автоматизация работ, основанная на предоставлении разработчику
                множества вариантов готовых прототипов курсов, встроенных интерактивных
                тестах и средствах общения, библиотеках шаблонов и стилей, автоматическом
                создании перекрестных гипертекстовых связей и автоматической генерации
                дистрибутива для записи на CD ROM. </FONT></p>
              <p align="left" class=title><img src="images/rule.gif" width="14" height="17">
                <B><FONT  size="2">Мультимедиа может использоваться максимально</FONT></B>
                </p><p class=cMain>
                <FONT size="2" >Конструктор предоставляет широкие возможности использования
                в Курсе мультимедийной информации. В частности, возможно использование
                графики, видео, звука (в различных форматах: JPG, AVI, MPEG, MOV,
                MP3, MIDI, и др.), создание интерактивных сцен с элементами анимации
                и подключение внешних программ и объектов. </FONT></p>
              <p align="left" class=title><img src="images/rule.gif" width="14" height="17">
                <B><FONT size="2" >Интернет дает возможность общения, тестирования и обновления </B></FONT>
                </p><p class=cMain>

                <FONT size="2" >Реализованные возможности позволяют использовать
                Internet для встраивания в Курс средств общения преподавателей
                и учащихся, автоматически генерировать виртуальные семинары и
                поддерживать Web-сайт "Учебного центра". Встроенные интерактивные
                тесты для дистанционной проверки знаний и оценки успеваемости
                могут быть загружены непосредственно с CD ROM, так и доставлены
                по Internet c сервера учебного центра. Результаты тестирования
                могут поставляться по каналам Internet непосредственно в учебный
                центр. </FONT></p>
              <p align="left" class=title><img src="images/rule.gif" width="14" height="17">
                <FONT  size="2"><B>Технология </B></FONT>
                </p><p class=cMain>
                <FONT size="2" >Создаваемые курсы функционируют на базе технологии
                Web-CD: основной информационный массив учебного материала поставляется
                пользователю на CD-ROM, а обновление информации, тестирование
                и общение с [sTUDENT_ALIAS-TVOR-ONE] производится по каналам Internet. </FONT></p>
              <p align="left" class=title><img src="images/rule.gif" width="14" height="17">
                <b><FONT  size="2">Требования </FONT></B></FONT>
                </p>
                <p class=cMain>
                <FONT size="2" >Windows'95, '98, NT Pentium 100, RAM 16M</FONT>
              </p>