<tr>
<td valign="top">
<table border="0" cellspacing="0"   cellpadding="0" class="news" width="100%">
<tr>
					                    		    <!--td width="20%" class="cHilight">[W-sort]:</td-->
<td width="40%" align="center">[ <a href="[PATH]about.php?[SESSID]sort=0" target="_self">[W-byID]</a> ]</td>
<td width="30%" align="center">[ <a href="[PATH]about.php?[SESSID]sort=1" target="_self">[W-byDate]</a> ]</td>
					                    		    <!--td width="30%" align="center">[ <a href="[PATH]news.php4?[SESSID]all=1" target="_self">[W-nall]</a> ]</td-->
</tr>
</table>
</td>
<td valign="top">
<img src="[PATH]images/spacer.gif" width=1 height=1 alt="">
</td>
</tr>