{?t?}Информация о сервере{?/t?}
{?t?}редактировать{?/t?}
{?t?}Удалить инфоблок{?/t?}
{?t?}Показать инфоблок{?/t?}
{?t?}Скрыть инфоблок{?/t?}
{?t?}сохранить{?/t?}
{?t?}отменить{?/t?}
{?t?}закрыть окно редактирования{?/t?}
{?t?}Редактирование блока{?/t?}
{?t?}сортировать{?/t?}
{?t?}по мере добавления{?/t?}
{?t?}по дате{?/t?}
{?t?}добавить блок{?/t?}
{?t?}показать все{?/t?}
{?t?}Блок был добавлен/отредактирован{?/t?}
{?t?}Произошла ошибка при добавлении/редактировании блока{?/t?}
{?t?}Добавление блока{?/t?}