<!-- "Begin News Page" -->
                  <table border="0" cellspacing="0" cellpadding="2" width="100%">
                     <tr valign="top" width="100%">
                        <td>
                           <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                 [NEWS-ADD]
                           <tr>
                              <td valign="top">
                                 [NEWS-FULL]
                              </td>
                           </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
<!-- "End News Page" -->