                <tr valign="top">
                    <td valign="top" class="cHilight">
                       <b>[N-title]</b>
                    </td>
                    <!-- td valign="top"><b>[N-date]</b></td -->
                    <!-- td valign="top">
                        <p align="justify">
                        [N-text]
                        </p>
                    </td -->
                    <td valign="top" class="cHilight">
                        [N-name]
                    </td>
                    <td valign="top">
                        [N-dean]
                    </td>
                </tr>