              <p align="left" class=title><img src="images/rule.gif" width="14" height="17"> 
                <B><FONT size="2" >Уважаемые дамы и господа!</FONT></B></p>
              <DIV align="center">
                <P align="justify" style="text-indent:35px"><FONT size="2" class=cMain >
		Добро пожаловать на учебный центр Компании ГиперМетод, созданный с помощью продукта  
		<b>eLearning Server 3000</b>.
		Чтобы начать работу с сервисами учебного центра, Вам необходимо 
		пройти <a href="regnew.php4">регистрацию</a>.</FONT></P>
              </DIV>

              <p align="left" class=title><img src="images/rule.gif" width="14" height="17"> 
                <B><FONT size="2" >О продукте eLearning Server 3000</FONT></B></p>
              <DIV align="center">
                <P align="justify" style="text-indent:35px"><FONT size="2" class=cMain><B>eLearning Server 3000</B> - это современная система 
		управления процессом обучения (Learning Management System), 
		позволяющая создавать многофункциональные центры дистанционного 
		образования как в рамках корпоративной сети intranet, 
		так и в пространстве Internet.</FONT></P>
              </DIV>

              <p align="left" class=title><img src="images/rule.gif" width="14" height="17"> 
                <B><FONT size="2" >eLearning Server 3000 в бизнесе:</FONT></B></p>
              <DIV align="center">
                <P align="justify" style="text-indent:35px"><FONT size="2" class=cMain>Современная экономика предъявляет высокие требования к бизнесу, 
которые в определенной мере могут быть удовлетворены путем стратегического управления кадрами компании, 
их образованием и своевременным введением новых технологий.
Быстрая реакция на появление продукта или услуги на рынке позволяет выжить и преуспеть в борьбе с 
конкурентами. В современном мире эти задачи решают системы управления знаниями - LMS. 
</FONT></P>
                <P align="justify" style="text-indent:35px"><FONT size="2" class=cMain>С помощью eLearning Server LMS на предприятии 
любого профиля можно быстро и качественно, и при этом практически без использования 
специальных знаний в области программирования организовать систему обучения, позволяющую:
</FONT></P>
<ul>
  <li><p class="cMain" align="justify"><font size="2">своевременно обучить персонал работе 
с новыми продуктами и разработками компании, используя новейшие технологии 
веб-трансляции и онлайн рисования, а также уже известные чат и форум</font></p></li>
  <li><p class="cMain" align="justify"><font size="2">
провести аттестацию сотрудников, организовав гибкую систему различных видов тестов и контрольных работ	
</font></p></li>
  <li><p class="cMain" align="justify"><font size="2">
организовать курсы повышения квалификации, создав полнофункциональные курсы дистанционного обучения,
которые будут содержать как традиционные элементы (лекции, контрольные задания),
так и современные интерактивные составляющие учебного процесса - онлайн семинары,
лабораторные работы и дискуссии
</font></p></li>
  <li><p class="cMain" align="justify"><font size="2">
управлять накопленными знаниями сотрудников путем мониторинга 
результатов их обучения в "электронной зачетке" и "электронном журнале" и 
таким образом наиболее эффективно проводить новые назначения</font></p>
  </li>
  <li><p class="cMain" align="justify"><font size="2">
организовать систему тестирования для претендентов на замещение вакантных должностей
</font></p>
  </li>
</ul>
     <P align="justify" style="text-indent:35px"><FONT size="2" class=cMain>
Открытая архитектура данных eLearning Server 3000 позволяет 
создавать центры дистанционного обучения, которые будут удовлетворять специфическим 
требованиям любых организаций.
</FONT></P>
              </DIV>
              <p align="left" class=title><img src="images/rule.gif" width="14" height="17"> 
                <B><FONT size="2" >eLearning Server 3000 в образовании</FONT></B></p>
              <DIV align="center">
                <P align="justify" style="text-indent:35px"><FONT size="2" class=cMain>
Новые стандарты образования и требования к квалификации выпускников ведут к 
использованию современных информационных технологий в процессе обучения. 
Созданный с помощью eLearning Server 3000 центр дистанционного обучения 
может использоваться как виртуальный университет, в котором функции традиционного 
ВУЗа дополнены новыми технологиями, обеспечивающими возможность передачи 
изображения через Internet, интерактивного общения и рисования в реальном времени.
	</FONT></P>
                <P align="justify" style="text-indent:35px"><FONT size="2" class=cMain>
Внедрение дистанционного обучения в университете позволяет значительно 
повысить качество заочного обучения, а также привлечь обучаемых из удаленных 
регионов, благодаря географической независимости процесса обучения.
	</FONT></P>
                <P align="justify" style="text-indent:35px"><FONT size="2" class=cMain>
eLearning Server 3000 позволяет создать "виртуальный" университет в котором будут:
	</FONT></P>
<ul>
  <li><p class="cMain" align="justify"><font size="2">читаться 
традиционные лекции, эффективность которых будет значительно 
повышена благодаря использованию технологии веб-трансляции</font></p></li>
  <li><p class="cMain" align="justify"><font size="2">
проводится интерактивные семинары, в процессе которых обучаемый сможет 
изучить любое явление из гуманитарного цикла наук, но и также понять 
устройство какого-либо сложного технического устройства с помощью 
использования технологии онлайн-рисования, созданной для поддержки 
объяснений преподавателя в интерактивном режиме
</font></p></li>
  <li><p class="cMain" align="justify"><font size="2">
создаваться расширенные системы контроля знаний обучаемых - тесты, контрольные работы и индивидуальные задания
</font></p></li>
  <li><p class="cMain" align="justify"><font size="2">
осуществляться процессы управления человеческими ресурсами 
университета - назначение и увольнение преподавателей, зачисление и 
выпуск обучаемых
</font></p>
  </li>
</ul>
              </DIV>
