<!-- "Begin Abitur Page" -->
                  <table border="0" cellspacing="0" cellpadding="0" height="100%" width="100%"> 
                     <tr>                  
                        <td valign="top" width="100%" align="center">
                           [HEADER]
                        </td>
                     </tr>
                     <tr>                  
                        <td valign="top" width="100%" align="center">
                           <b>[RESULT]</b>
                        </td>
                     </tr>
                     <tr>                  
                        <td valign="top" width="100%" align="left">
                           [ALL]
                        </td>
                     </tr>
                     <tr valign="top" height="100%"><td>&nbsp;</td></tr>
                  </table>
<!-- "End Abitur Page" -->