                                 <form action="baner.php4" method="post" enctype='multipart/form-data'>
                                 <table cellpadding="0" cellspacing="0" border="0" width="100%" valign="top">
                                    <tr><td align="center"><img src="[PATH]images/index2/ind_pict1.jpg" alt=""  width="130"  height="108"  border="0"></td></tr>
                                    <tr><td height=15 class="cMainBG"><img src="[PATH]images/spacer.gif" width=1 height=1 alt=""></td></tr>
                                    <tr><td height=15 class="cMainBG">{?t?}Изменить картинку{?/t?}<br /><input type='file' name='img1' style='width:100%'></td></tr>
                                    <tr><td height=15 class="cMainBG">URL<br /><input type='text' name='link1' value='[LINK1]' style='width:100%'></td></tr>
                                    <tr><td height=15 class="cMainBG"><img src="[PATH]images/spacer.gif" width=1 height=1 alt=""></td></tr>
                                    <tr><td align="center"><img src="[PATH]images/index2/ind_pict2.jpg" alt=""  width="130"  height="108"  border="0"></td></tr>
                                    <tr><td height=15 class="cMainBG"><img src="[PATH]images/spacer.gif" width=1 height=1 alt=""></td></tr>
                                    <tr><td height=15 class="cMainBG">{?t?}Изменить картинку{?/t?}<br /><input type='file' name='img2' style='width:100%'></td></tr>
                                    <tr><td height=15 class="cMainBG">URL<br /><input type='text' name='link2' value='[LINK2]' style='width:100%'></td></tr>
                                    <tr><td height=15 class="cMainBG"><img src="[PATH]images/spacer.gif" width=1 height=1 alt=""></td></tr>
                                    <tr><td align="center"><img src="[PATH]images/index2/ind_pict3.jpg" alt=""  width="130"  height="108"  border="0"></td></tr>
                                    <tr><td height=15 class="cMainBG"><img src="[PATH]images/spacer.gif" width=1 height=1 alt=""></td></tr>
                                    <tr><td height=15 class="cMainBG">{?t?}Изменить картинку{?/t?}<br /><input type='file' name='img3' style='width:100%'></td></tr>
                                    <tr><td height=15 class="cMainBG">URL<br /><input type='text' name='link3' value='[LINK3]' style='width:100%'></td></tr>
                                    <tr><td height=15 class="cMainBG"><img src="[PATH]images/spacer.gif" width=1 height=1 alt=""></td></tr>
                                    <tr><td align="center"><img src="[PATH]images/index2/ind_pict4.jpg" alt=""  width="130"  height="108"  border="0"></td></tr>
                                    <tr><td height=15 class="cMainBG">{?t?}Изменить картинку{?/t?}<br /><input type='file' name='img4' style='width:100%'></td></tr>
                                    <tr><td height=15 class="cMainBG">URL<br /><input type='text' name='link4' value='[LINK4]' style='width:100%'></td></tr>
                                    <tr><td height=15 class="cMainBG"><img src="[PATH]images/spacer.gif" width=1 height=1 alt=""></td></tr>
                                 </table>
                                 <input type='submit' name='submit' value='{?t?}Сохранить изменения{?/t?}'>
                                 </form>
