<!-- "Begin Menu" -->

            <table width="85%" border="0" cellspacing="0" cellpadding="0" valign="top" align="center">
                <tr><td heigth="10"> &nbsp;</td></tr>
                    <tr>
                                        <td class='menu'><a href="[PATH]index.php?[SESSID]"
                     onMouseOver="changeImages('am0', '[PATH]images/menu/bullet-over.gif'); return true;"
                     onMouseOut="changeImages('am0', '[PATH]images/menu/bullet.gif'); return true;">
                     <img name="am0" src="[PATH]images/menu/bullet.gif"  border=0>
                     {?t?}в начало{?/t?}</a></td>
                                </tr>
                    <tr>
                                        <td class='menu'><a href="[PATH]admin/design.php4?[SESSID]"
                     onMouseOver="changeImages('am1', '[PATH]images/menu/bullet-over.gif'); return true;"
                     onMouseOut="changeImages('am1', '[PATH]images/menu/bullet.gif'); return true;">
                     <img name="am1" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Настройки сервера{?/t?}">
                     {?t?}настройки{?/t?}</a></td>
                                </tr>
                    <tr>
                                        <td class='menu'><a href="[PATH]admin/personal.php4?[SESSID]"
                    onMouseOver="changeImages('am2', '[PATH]images/menu/bullet-over.gif'); return true;"
                    onMouseOut="changeImages('am2', '[PATH]images/menu/bullet.gif'); return true;">
                    <img name="am2" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Персонал сервера{?/t?}">
                    {?t?}учетные записи{?/t?}</a></td>
                                </tr>
                    <tr>
                                        <td class='menu'><a href="[PATH]admin/arhiv.php4?[SESSID]"
                    onMouseOver="changeImages('am3', '[PATH]images/menu/bullet-over.gif'); return true;"
                    onMouseOut="changeImages('am3', '[PATH]images/menu/bullet.gif'); return true;">
                    <img name="am3" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Архив{?/t?}">
                    {?t?}архив{?/t?}</a></td>
                                </tr>
                    <tr>
                                        <td class='menu'><a href="[PATH]events.php?[SESSID]"
                    onMouseOver="changeImages('am4', '[PATH]images/menu/bullet-over.gif');return true;"
                    onMouseOut="changeImages('am4', '[PATH]images/menu/bullet.gif'); return true;">
                    <img name="am4" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Типы занятий{?/t?}">
                    {?t?}типы занятий{?/t?}</a></td>
                                </tr>
                    <tr>
                                        <td class='menu'><a href="[PATH]index.php?[SESSID]exit=true"
                    onMouseOver="changeImages('menu_quit', '[PATH]images/menu/bullet-over.gif');return true;"
                    onMouseOut="changeImages('menu_quit', '[PATH]images/menu/bullet.gif'); return true;">
                    <img name="menu_quit" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Выход{?/t?}">
                    {?t?}выход{?/t?}</a></td>
                                </tr>
                                <!--tr>
                                        <td><img name="menu_bg_bottom" src="[PATH]images/menu/menu_bg_bottom.jpg" width="200" height="66" alt=""></td>
                                </tr-->
               </table><br><br>
<!-- "End Menu" -->