<!-- {?t?}заголовок{?/t?} -->
      <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
      <tr>
         <td class="skip">
            <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="cHilight">
               <tr>
                  <td class="shedtitle" nowrap>
                     [W-PAGENAME]
                  </td>
                  <td width="80%" valign="top">
                     <table cellpadding="0" cellspacing="0" align="center" width="100%" class="cHilight">
                        <tr>
                           <td width="100%" background="[PATH]images/schedule/back.gif">
                              <img src="[PATH]images/spacer.gif" alt="" width="1" height="15" border="0">
                           </td>
                           <td height="19">
                              <b><a title="" class=wingna style="font-size: 14px">а</a></b>
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <td width="100%">
            <img src="images/spacer.gif" alt="" width="1" height="15" border="0">
         </td>
      </tr>
      <tr>
         <td width="100%" class="forum">
            [W-PAGESTATIC]
         </td>
      </tr>
      </table>
<!-- /{?t?}заголовок{?/t?} -->
