<head>
<META content="text/html; charset=windows-1251" http-equiv="Content-Type">
<script language="Javascript" type="text/javascript">
<!--
//    if(navigator.appName.indexOf("Netscape") != -1){
//      alert("{?t?}Используйте{?/t?} IE {?t?}версии{?/t?} 5.0  {?t?}или выше!{?/t?}");
//      close();
//        }
//    if (navigator.userAgent.indexOf("Opera") != -1){
//      alert("{?t?}Используйте{?/t?} IE {?t?}версии{?/t?} 5.0  {?t?}или выше!{?/t?}");
//      close();
//    }
// -->
</script>
[REDIRECT_NO_FRAMES]
<SCRIPT src="[PATH]js/FormCheck.js" language="JScript" type="text/javascript"></script>
<SCRIPT src="[PATH]js/img.js" language="JScript" type="text/javascript"></script>
<SCRIPT src="[PATH]js/hide.js" language="JScript" type="text/javascript"></script>
<SCRIPT src="[PATH]admin/adm.js" language="JScript" type="text/javascript"></script>
<script language="JavaScript">
<!--
function mmLoadMenus() {
[MM_LOAD_MENUS] 
} // mmLoadMenus()
//-->
</script>
<script language="JavaScript" src="/js/mm_menu.js"></script>

<title>[W-title]</title>
<link rel="stylesheet" href="[PATH]styles/style.css" type="text/css">
</head>

