<!-- "Begin Top Menu" -->
<tr>
<td>

<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr>
          <td valign="bottom" height=50 background="/images/logo_bg.gif"><a href="[PATH]" target="_top"><img src="[PATH]images/logo.gif" alt="{?t?}На главную{?/t?}" border=0></a></td>
          <td background="/images/logo_bg.gif" class="logo" align="center">[W-logotext]
 <td>
</tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr>
        <td>
          <table border=0 cellpadding=0 cellspacing=0>
          <tr>
            <td class="th2" width="100%">
             <table border="0" cellspacing="0" cellpadding="0" heigth="100%">
              <tr>
                <td><img src="[PATH]images/spacer.gif" width="60" height="1"></td>
                <td class="th5" nowrap><img src="[PATH]images/corner02.gif" align="absmiddle">&nbsp;&nbsp;<b>[W-slogan]</b>&nbsp;&nbsp;<img src="[PATH]images/corner01.gif" align="absmiddle"></td>
              </tr>
             </table>
            </td>
            <td align="right" class="th2" nowrap>
            [W-toplinks]
            </td>
          </tr>
          </table>
        </td>
</tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr>
        <td align=left height=20 class="menu_top">
         &nbsp;[W-hello]&nbsp;
        &nbsp;</td>
        <td align=right height=20 class="menu_top">
                [W-topactions]
        </td>
</tr>
<tr>
        <td>&nbsp;</td>
</tr>
</table>

</td>
</tr>

<!-- "end Top Menu" -->