<b>
<a name='1'>Ключ авторизации:<br><font color=red>[ID]</font></a>
</b>
<h1>Трансляция</h1>
Для проведения  урока с камерой вам необходима программа <em><strong>&laquo;eBoard 2.0&raquo;</strong></em><br />
<P>
<a href=/eOffice/>Если вы осуществляете трансляцию первый раз, то сначала загрузите и установите программу трансляции <em><strong>&laquo;eBoard 2.0&raquo;</strong></em>
(нажмите сюда для загрузки)</a><P>

Если программа уже установлена:
<br />
<ol>
   <li>Запустите программу eBoard;</li>
   <li>На запрос введите <a href="#1"><font color=red>ключ авторизации</font></a> и нажмите <em><strong>Next</strong></em>;</li>
   <li>Проверьте правильность указанного учебного курса и занятия и нажмите <em><strong>Next</strong></em>;</li>
   <li>В появившемся окне программы нажмите <em><strong>Start</strong></em>. Трансляция начнется и будет доступна участникам учебного процесса;</li>
   <li>В ходе трансляции вы можете регулировать параметры трансляции в основном диалоговом окне:<br />
      <em><strong>Frequency</strong></em> - частота передачи кадров<br />
      <em><strong>JPEG Quality</strong></em> - качество изображения;</li>
   <li>Чтобы закончить трансляцию, нажмите кнопку <em><strong>Stop</strong></em>.</li>
</ol>
