<p align="justify"><FONT size="2" class=title>
{?t?}Уважаемые посетители!
Представляем Вам новую функцию{?/t?} eLearning Server'а - <{?t?}Доска рисования{?/t?}>. 
{?t?}На этой странице вы можете воспользоваться набором инструментов, 
который предназначен для графической поддержки учебного материала. 
На данный момент опции цвета отключены, так как доска работает в тестовом режиме. 
Все замечания и пожелания по работе{?/t?} <{?t?}Доски для рисования{?/t?}>, {?t?}пожалуйста, присылайте сюда{?/t?} <a href="mailto:elearn@hypermethod.com">elearn@hypermethod.com</a>,
{?t?}либо оставляйте в разделе{?/t?} "{?t?}Вопросы{?/t?}".
</font></p>
