                <table width=100% border=0 cellpadding=0 cellspacing=0 align=center >
                <tr>
         <td>
                        [HEADER]
                 </td>
                 </tr>
                 <tr>
                 <td align="center">
                        <b><font class="forum" color="red">[ERROR]<font><font class="forum" color="green">[COOL]</font></b>
                 </td>
                 </tr>
        <tr>
</tr>
                <tr>
         <td>
         <br>
                  [TRACKS]
                 </td>
                 </tr>
<!-- {?t?}таблица курсов{?/t?}-->
<!-- forma {?t?}добаления курса{?/t?} -->
         <tr>
          <td>  <BR>
                              <table border=0 cellpadding=0 cellspacing=0 align=center width="100%">
                    [FORM_HEADER]
                                <form method=post name="reg" action="[ACTION]">
                <tr>
                                 <td><a name='edit'>
                                [REG_FORM]</a>
                                 </td>
                                </tr>
                </form>
                          </table>
                 </td>
                </tr>
<!-- /forma {?t?}списка курсов{?/t?} -->

         <td><BR>
                              <table border=0 cellpadding=0 cellspacing=0 align=center width="100%">
                <tr>
                                 <td>
                        [COURSE_LIST]
                                 </td>
                                </tr>
                          </table>
                 </td>
                </tr>



        </table>
                [CJAVA]