      [GANT]
      <BR>
      <table width=100% class=main cellspacing=0>
         <tr>
           <th nowrap>&nbsp;<a href='[PAGE]?[SESSID]csort=1'>ID</a> [SORTIMG1]</th>
           <th nowrap>&nbsp;<a href='[PAGE]?[SESSID]csort=2'>{?t?}название{?/t?}</a> [SORTIMG2]</th>
           <th>&nbsp;{?t?}начало{?/t?}/<br>{?t?}окончание{?/t?}</th>
           <th nowrap>&nbsp;<a href='[PAGE]?[SESSID]csort=5'>{?t?}доступ{?/t?}</a> [SORTIMG5]</th>
           <th>&nbsp;{?t?}преподаватели{?/t?}</th>
           <th>&nbsp;{?t?}посл.{?/t?}<br>{?t?}обр.{?/t?}</th>
           <th>&nbsp;</th>
         </tr>
         [COURSES]
        </table>