                <table width=100% class=main cellspacing=0>
                        <tr>
                          <th>&nbsp;{?t?}Курс{?/t?}</th>
                          <!--<th nowrap>&nbsp;{?t?}Период{?/t?}</th>-->
                          <!--th>&nbsp;[STOIMOST]</th-->
                          <th>&nbsp;{?t?}Доступ{?/t?}</th>
                          <th>&nbsp;{?t?}Преподаватели{?/t?}</th>
                          <th>{?t?}Рейтинг{?/t?}</th>
						  <th style="width: 10.7em;">Действие</th>
                    </tr>
                        [COURSES]
                </table>