     <!-- {?t?}шапка добаления курса{?/t?} -->
           <tr>
             <td width=100% class=tabheader>
                <table width=100% class=th2 cellpadding=0 cellspacing=0>
                    <tr>
                                 <td width=27 valign=top class=shown id=plusmain1>
                        <a title="{?t?}показать{?/t?}" href=# onClick="putElem('newmessage'); removeElem('plusmain1'); putElem('minusmain1');" ><span class=webd>4</span></a>
                     </td>
                                 <td width=27 valign=top class=hidden2 id=minusmain1>
                        <a title="{?t?}убрать{?/t?}" href=# onClick="removeElem('newmessage'); removeElem('minusmain1'); putElem('plusmain1');" ><span class=webd>6</span></a>
                     </td>
                                 <td width=100%>
                        <span>&nbsp;<span id=createtest>{?t?}добавить курс{?/t?}</span></span>
                     </td>
                     </tr>
                </table>
             </td>
            </tr>
    
            <tr>
             <td width=100%>
                <img src="images/spacer.gif" alt="" width=1 height=5 border=0>
             </td>
            </tr>        
        <!-- /{?t?}шапка добаления курса{?/t?} -->
