<!-- "Begin Menu" -->
   <table width="198" height="65" border="0" cellspacing="0" cellpadding="0" valign="top">
      <tr>
         <td class=hello height=40 valign="top">
            <br>[W-hello], <a href='[PATH]reg.php4'>[W-uNAME]</a>
         </td>
      </tr>
   </table>
                <table width="198" border="0" cellspacing="0" cellpadding="0" valign="top" >
            <tr  class='menu'>
               <td><a href="%5BPATH%5Dnews.php4?%5BSESSID%5D" title="{?t?}новости сервера на стартовой странице{?/t?}"
               onMouseOver="changeImages('dm1', '[PATH]images/menu/bullet-over.gif'); return true;"
               onMouseOut="changeImages('dm1', '[PATH]images/menu/bullet.gif'); return true;">
               <img name="dm1" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Новости{?/t?}">
               {?t?}новости сервера{?/t?}</a></td>
            </tr>
            <tr  class='menu'>
               <td><a href="[PATH]about.php?[SESSID]" title="{?t?}информацинные блоки на страницах сервера{?/t?}"
               onMouseOver="changeImages('dm2', '[PATH]images/menu/bullet-over.gif'); return true;"
               onMouseOut="changeImages('dm2', '[PATH]images/menu/bullet.gif'); return true;">
               <img name="dm2" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Новости{?/t?}">
               {?t?}информационные блоки{?/t?}</a></td>
            </tr>
            <tr>
               <td  class='menu'><a href="[PATH]courses.php4?[SESSID]"  title="{?t?}регистрация, открытие, закрытие и контроль учебных дисциплин{?/t?}"
               onMouseOver="changeImages('dm7', '[PATH]images/menu/bullet-over.gif'); return true;"
               onMouseOut="changeImages('dm7', '[PATH]images/menu/bullet.gif'); return true;">
               <img name="dm7" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Курсы{?/t?}">
               {?t?}курсы по выбору{?/t?}</a></td>
            </tr>
            <tr>
               <td  class='menu'>
                <a href="[PATH]tracks.php?[SESSID]" title="{?t?}учебные планы специальностей{?/t?}"
                onMouseOver="changeImages('dm3', '[PATH]images/menu/bullet-over.gif');return true;"
                onMouseOut="changeImages('dm3', '[PATH]images/menu/bullet.gif'); return true;">
                <img name="dm3" src="[PATH]images/menu/bullet.gif" border=0 alt="{?t?}Специальности{?/t?} ">
               {?t?}планы специальностей{?/t?}</a></td>
            </tr>
            <tr>
               <td class='menu'>
               <a href="[PATH]manage_track.php?[SESSID]" title="{?t?}прием, перевод по семестрам, отчисление учащихся{?/t?}"
               onMouseOver="changeImages('dm4', '[PATH]images/menu/bullet-over.gif'); return true;"
               onMouseOut="changeImages('dm4', '[PATH]images/menu/bullet.gif'); return true;">
               <img name="dm4" src="[PATH]images/menu/bullet.gif" border=0 alt="{?t?}Управление выборками{?/t?}">
               {?t?}прием, перевод, отчисление{?/t?}</a></td>
            </tr>
           <tr>
               <td class='menu'>
               <a href="[PATH]abitur.php4?[SESSID]" title="{?t?}распределение учащихся по отдльным курсам{?/t?}"
               onMouseOver="changeImages('dm5', '[PATH]images/menu/bullet-over.gif'); return true;"
               onMouseOut="changeImages('dm5', '[PATH]images/menu/bullet.gif'); return true;">
               <img name="dm5" src="[PATH]images/menu/bullet.gif" border=0 alt="{?t?}Студенты{?/t?}">
               {?t?}распр. учащ. по отд. курсам{?/t?}</a></td>
            </tr>
            <tr  class='menu'>
               <td><a href="[PATH]addgroup.php4?[SESSID]" title="{?t?}формирование учебных групп{?/t?}"
               onMouseOver="changeImages('dm6', '[PATH]images/menu/bullet-over.gif'); return true;"
               onMouseOut="changeImages('dm6', '[PATH]images/menu/bullet.gif'); return true;">
               <img name="dm6" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Группы{?/t?}">
               {?t?}учебные группы{?/t?}</a></td>
            </tr>
            <tr>
               <td class='menu'><a  href="[PATH]teachers.php4?[SESSID]" title="{?t?}распределение преподавателей и учебная нагрузка по отдльным курсам{?/t?}"
               onMouseOver="changeImages('dm8', '[PATH]images/menu/bullet-over.gif'); return true;"
               onMouseOut="changeImages('dm8', '[PATH]images/menu/bullet.gif'); return true;">
               <img name="dm8" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Преподаватели{?/t?}">
               {?t?}уч. нагрузка преподават.{?/t?}</a></td>
            </tr>
            <tr>
               <td class='menu'>
                <a href="[PATH]rooms.php?[SESSID]" title="{?t?}аудиторный фонд{?/t?}"
                onMouseOver="changeImages('dm9', '[PATH]images/menu/bullet-over.gif');return true;"
                onMouseOut="changeImages('dm9', '[PATH]images/menu/bullet.gif'); return true;">
                <img name="dm9" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Аудитории{?/t?}">
                {?t?}аудиторный фонд{?/t?}
                </a></td>
            </tr>
            <tr>
               <td class='menu'>
                <a href="[PATH]departments.php?[SESSID]" title="{?t?}циклы, подраздления, кафедры{?/t?}"
                onMouseOver="changeImages('dm12', '[PATH]images/menu/bullet-over.gif');return true;"
                onMouseOut="changeImages('dm12', '[PATH]images/menu/bullet.gif'); return true;">
                <img name="dm12" src="[PATH]images/menu/bullet.gif"  border=0 alt="">
                {?t?}циклы{?/t?}
                </a></td>
            </tr>
            <tr>
               <td class='menu'>
                <a href="[PATH]periods.php?[SESSID]" title="{?t?}время{?/t?}"
                onMouseOver="changeImages('dm11', '[PATH]images/menu/bullet-over.gif');return true;"
                onMouseOut="changeImages('dm11', '[PATH]images/menu/bullet.gif'); return true;">
                <img name="dm11" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}пары{?/t?}">
                {?t?}сетка занятий{?/t?}
                </a></td>
            </tr>
            <tr>
               <td class='menu'>
                <a href="[PATH]reports.php?[SESSID]" title="{?t?}отчеты для печати{?/t?}"
                onMouseOver="changeImages('dm14', '[PATH]images/menu/bullet-over.gif');return true;"
                onMouseOut="changeImages('dm14', '[PATH]images/menu/bullet.gif'); return true;">
                <img name="dm14" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}отчеты для печати{?/t?}">
                {?t?}отчеты{?/t?}
                </a></td>
            </tr>
            <tr>
               <td class='menu'>
                <a href="[PATH]forum.php4?[SESSID]" title="{?t?}форум{?/t?}"
                onMouseOver="changeImages('dm13', '[PATH]images/menu/bullet-over.gif');return true;"
                onMouseOut="changeImages('dm13', '[PATH]images/menu/bullet.gif'); return true;">
                <img name="dm13" src="[PATH]images/menu/bullet.gif"  border=0>
                {?t?}вопросы{?/t?}
                </a></td>
            </tr>
             <tr>
               <td class='menu'><a href="[PATH]index.php?[SESSID]exit=true" title="{?t?}выход из системы{?/t?}"
                onMouseOver="changeImages('dm10', '[PATH]images/menu/bullet-over.gif');return true;"
                onMouseOut="changeImages('dm10', '[PATH]images/menu/bullet.gif'); return true;">
                <img name="dm10" src="[PATH]images/menu/bullet.gif"  border=0 alt="{?t?}Выход{?/t?}">
                {?t?}выход{?/t?}
               </a></td>
            </tr>
            <tr>
               <td><img name="menu_bg_bottom" src="[PATH]images/menu/menu_bg_bottom.jpg" width="198" height="51" alt=""></td>
            </tr>
          </table>
          </FONT>
<!-- "End Menu" -->