<b>
<a name='1'>Ключ авторизации:<br><font color=red>[ID]</font></a><br></b>
<h1>Загрузка курса на сервер</h1>
<ul>
<li>Для загрузки курса на сервер вам необходима программма <em><strong>eAuthor eLearnUploadClient v0.85</strong></em><br />
<br>
<li>Если программы на вашем копьютере нет, то ее нужно 
загрузить и инсталлировать.
<br><br>
<li><b><a href=../eOffice/#upload>Загрузка и установка eLearnUploadClient &gt;&gt;&gt;</a></b><br>
<small>На данной странице необходимо скачать программу и запустить install registry файл.</small>
<br>
<br>
<li>Запустите eLearnUploadClient и укажите в нем ключ авторизации.
Укажите файлы, которые следует пометить в текущий модуль.
Данная программа не дает новых возможностей, а просто помогает
быстро загрузить сразу несколько файлов.
В противном случае их пришлось бы загружать поштучно, через браузер
и форму "Загрузить файл" (или "Изучить материалы"). 
</ul>