<!-- "Begin mtasks" -->
        	<table width="100%" cellspacing="1" cellpadding="1" class='brdr'>
				<tr>
					<th align="left" width="100%" nowrap><b>[W-nocheck]</b> [W-cnt1]
					<sup><a href=# onclick='alert("[W-mustcheck]")'>[?]</a></sup>
					</th>
				</tr>
				<tr>
					<td align="left" class="shedadd" width="100%" nowrap><b>[W-check]</b> [W-cnt2]
					<sup><a href=# onclick='alert("[W-mustmove]")'>[?]</a></sup>
					</td>
				</tr>
				<tr>
					<td align="left" width="100%" nowrap>
							<table border="0" cellpadding="0" cellspacing="0" width="100%" class="brdr">
								<tr>
									<td class="schedule" width="100%"><a href=[PAGE]?[SESSID]c=find_first>[W-gofirstq]</a></td>
								</tr>
							</table>
					</td>
				</tr>
				<tr>
					<td align="left" width="100%" nowrap>
							<table border="0" cellpadding="0" cellspacing="0" width="100%" class="brdr">
								<tr>
									<td class="schedule" width="100%"><a href=[PAGE]?[SESSID]c=show_questions>[W-gorandomq]</a></td>
								</tr>
							</table>
					</td>
				</tr>
				<tr>
					<th align="left" width="100%" nowrap><b>[W-endmoder]</b></th>
				</tr>
				<tr>
					<td align="left" width="100%" nowrap>
							<table border="0" cellpadding="0" cellspacing="0" width="100%" class="brdr">
								<tr>
									<td class="schedule" width="100%"><a href=[PAGE]?[SESSID]c=complete>[W-movechenged]</a></td>
								</tr>
							</table>
					</td>
				</tr>
			</table>
<!-- "End mtasks" -->
