<!-- "Begin One Test Page" -->
<tr>
   <td><input type="checkbox" name="checked[[MT-sTID]]" value="[MT-kod]"></td>
   <td>[MT-sTID]</td>
   <td width='55%'>
       <a href="[PAGE]?[SESSID]c=minimoder&stid=[MT-sTID]&cid=[MT-CID]&kod=[MT-kod]" title="{?t?}Проверить вопрос{?/t?}">[MT-task]</a>
   </td>
   <td align="left" width='20%'>[MT-fname] [MT-lname] [MT-patronymic]</td>
   <td align="left" width='15%'>[MT-later]</td>
   <td width='10%' align="center">[MT-ball]</td>
</tr>
<!-- "End One Test Page" -->