<a href="[PATH]newsmake.php4?[SESSID]nID=[N-ID]&make=edit" title="{?t?}Редактировать новость{?/t?}"><img src="images/icons/edit.gif" border="0" alt="[W-edit]" /></a>&nbsp;

<a href="[PATH]news.php4?[SESSID]nID=[N-ID]&make=remove" target="_self" onclick='if (!confirm("[W-delete]?")) return false;' title="{?t?}Удалить новость{?/t?}"><img src="images/icons/delete.gif" border="0" alt="[W-delete]" /></a>&nbsp;

<a href="[PATH]news.php4?[SESSID]nID=[N-ID]&make=move" target="_self" onclick='if (!confirm("[N-show]?")) return false;' title="[N-iconTitle]"><img src="images/icons/[N-icon]" border="0" alt="[N-show]" /></a>

