<!-- "Begin News Page" -->
[CREATE_NEWS]
                 <table width=100% class=main cellspacing=0>
                     <tr>
                        <th>{?t?}Заголовок{?/t?}</th>
                        <th>{?t?}Дата{?/t?}</th>
                        <!-- th>{?t?}Содержание{?/t?}</th -->
                        <th>{?t?}Автор{?/t?}</th>
                        <!-- --><th>{?t?}Действия{?/t?}</th><!--/-->
                     </tr>
                                               [NEWS-FULL]
                  </table>
<!-- "End News Page" -->