                <tr valign="top">
                    <td><a href="[N-PATH]news.php4?nid=[N-ID]">[N-title]</a></td>
                    <td><b>[N-date]</b></td>
                    <!-- td>
                        <p align="justify">
                        [N-text]
                        </p>
                    </td -->
                    <td class="cHilight">
                        [N-name]
                    </td>
                    <!-- -->
                    <td class="cHilight" nowrap align="center">
                        [N-dean]
                    </td>
                    <!--/-->
                </tr>