{?t?}Новости сервера{?/t?}
{?t?}редактировать{?/t?}
{?t?}Удалить новость{?/t?}
{?t?}Показать новость{?/t?}
{?t?}Скрыть новость{?/t?}
{?t?}сохранить{?/t?}
{?t?}отменить{?/t?}
{?t?}закрыть окно редактирования{?/t?}
{?t?}Редактирование новости{?/t?}
{?t?}сортировать{?/t?}
{?t?}по мере добавления{?/t?}
{?t?}по дате{?/t?}
{?t?}добавить объявление{?/t?}
{?t?}показать все{?/t?}
{?t?}Ваша новость добавлена/отредактирована{?/t?}
{?t?}Произошла ошибка при добавлении/редактировании новости{?/t?}
{?t?}Добавление новости{?/t?}