									<tr>
										<td valign="top">
											<table border=0 cellspacing="0"   cellpadding="0" class="brdr">
					            	        	<tr>
													<th width="27px" valign="top" class="webd">4</th>
					                    		    <th width="100%"><a href="[PATH]newsmake.php4?[SESSID]make=add"
                                                    target="newsmake" onclick="wopen('','newsmake');">[W-addn]</a></th>
        						            	</tr>
											</table>
										</td>
										<td valign="top">
											<img src="[PATH]images/spacer.gif" width=1 height=1 alt="">
										</td>
									</tr>