<!-- "Begin News Page" -->
                  <table border="0" cellspacing="0" cellpadding="0" height="100%" width="100%"> 
                     <tr>                  
                        <td valign="top" width="100%" align="center">
                           [NEWS-HEADER]
							 </td>
                     </tr>
                     <tr>                  
                        <td valign="top" width="100%">
                             [NEWS-PREFERENCES]
							 </td>
                     </tr>
                     <tr valign="top" height="100%">
                        <td>
                           <table border="0" cellspacing="0" cellpadding="0" height="100%" width="100%"> 
                                 [NEWS-ADD]
                                 [NEWS-SORT]                            
                           <tr>
                              <td valign="top">
                                 [NEWS-FULL]
                              </td>
                                 [NEWS-IMAGES]
                           </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
<!-- "End News Page" -->