<!-- "Begin News Page" -->
                                 [NEWS-FULL]
                  <br/>
<table border="0" cellspacing="5" cellpadding="0" width="100%">
      <tr>
        <td align="right" width="99%">
        [OKBUTTON]
        </td>
        <td align="right" width="1%">
        <div style='float: right;' class='button'><a href='[NEWS-LINK-MAIN]'>{?t?}Отмена{?/t?}</a></div><input type='button' value='{?t?}отмена{?/t?}' style='display: none;'/><div class='clear-both'></div>
        </td>
      </tr>
</table> 
            </form>

<!-- "End News Page" -->