                                 <form method='post' name="datasel" action='[PATH]pass.php4'>
                                       <table width=100% class=main cellspacing=0>
                                       <tr height="25" class="shedaddform">
                                          <td class="chilight">{?t?}Введите ваш старый пароль{?/t?}</td>
                                          <td><input type="password" name="old_pass"></td>
                                       </tr>
                                       <tr height="25" class="shedaddform">
                                          <td class="chilight">{?t?}Введите ваш новый пароль{?/t?}</td>
                                          <td><input type="password" name="new_pass"></td>
                                       </tr>
                                       <tr height="25" class="shedaddform">
                                          <td class="chilight">{?t?}Введите ваш новый пароль повторно{?/t?}</td>
                                          <td><input type="password" name="new_pass_conf"></td>
                                       </tr>
                                       <tr height="25">
                                          <td  colspan="2">[OKBUTTON]</td>
                                       </tr>
                                       </table>
