<!-- "Bebin Index Page" -->
                  <table border="0" cellspacing="0" cellpadding="0" height="100%" width="100%"> 
                     <tr>
                        <td height="155px">
                           11111111111111
                        </td>
                     </tr>
                     <tr>
                        <td height="15" class=cmainbg align="left" height="100%">
                           <img src="[PATH]images/spacer.gif" width=1 height=1 alt="">
                        </td>
                     </tr>
                  </table>
<!-- "End Index Page" -->