<p align="justify">

Уважаемые дамы и господа!<br />
Спасибо за интерес к нашему порталу.<br />
<br />
Система дистанционного обучения Компании ГиперМетод предполагает два
уровня доступа к учебным материалам:
"Студент" и "Преподаватель".<br />
<br />
Зарегистрировавшись как "Студент" на какой-либо из курсов, Вы сможете посещать лекции,
участвовать в дискуссиях, проходить тесты и т.д, согласно расписанию выбранного Вами курса .
В зависимости от уровня доступа, предопределенного преподавателем, регистрацию для начала работы в
студенческой части портала Вы получите либо сразу, либо после удовлетворения требований преподавателя.<br />
<br />
Регистрация в качестве "Преподавателя" на какой-либо из курсов позволит Вам заниматься
преподавательской деятельностью на страницах нашего портала. Вы сможете наиболее эффективно
представить свои методические наработки, комбинируя новейшие технологии с традиционными подходами
представления учебного материала.  Развитая система сертификации знаний обучаемых, состоящая из
различных типов тестов и контрольных заданий позволит Вам организовать качественный контроль за
успеваемостью обучаемых. Доступ к сервисам преподавательской части нашего сервера Вы сможете
получить сразу после подтверждения Вашей регистрации учебной администрацией.<br />
<br />
Если Вы хотите зарегистрировать свой собственный курс, который еще не представлен на нашем
портале, добро пожаловать в раздел "<a href="courses.php4">Курсы</a>"
</p>