<tr>
<td>{?t?}Задание{?/t?}</td>
<td width="100%" nowrap>
<select name=form[[toolname]] size=1 class="sel100">
[select]
</select>
</td>
</tr>
<tr>
<td>{?t?}Оценить по формуле{?/t?}</td>
<td width="100%" nowrap>
[formula]&nbsp;&nbsp;[TT_FORMULA_GRADE]
</td>
</tr>
<tr>
<td>{?t?}Распределить по группам{?/t?}</td>
<td width="100%" nowrap>
[grformula]&nbsp;&nbsp;[TT_FORMULA_GROUPS]
</td>
</tr>
<tr>
<td>{?t?}Штраф{?/t?}</td>
<td width="100%" nowrap>
[penaltyFormula]&nbsp;&nbsp;[TT_FORMULA_PENALTY]
</td>
</tr>