<tr>
   <td width="45%" valign="top">
       <img src=[PATH]images/events/[icon]>
            <a href="[url]" [target]>[title]</a><br>
<!--             <a href="[url]" onclick="wopen('','schedul')" target="schedul">[title]</a><br> -->			
            <br>
            [W-course]: [course]<br>
            [W-lesstype]: [type]<br>
            [isgroup]			
   </td>
   <td width="20%" valign="top">[time]<br>[reminder]</td>
   <td width="35%" valign="top">
      <p align="justify">[t_info]</p><br>
      <p align="justify">[us_info]</p><br>
      <p align="justify">[u_info]</p><br>
      <p align="right" nowrap>[modify][delete]</p>
   </td>
</tr>
