        
        <table width="100%" cellspacing="0" cellpadding="0"  valign="top"> 
            <tr>
               <td  align="right" width="60%" class="th-before-corner"><img src="[PATH]images/spacer.gif" width="1" height="1" alt=""></td>
               <td  class="th3" align="right" background="[PATH]images/corner03.gif" width="25px" border="0" height="15px"><img src="[PATH]images/spacer.gif" width="25" height="1" alt=""></td>
               <td  align="right" class="th3" nowrap ><b>[week] &nbsp;  <span class="date">[date]</span></b>&nbsp;</td>
            </tr>
         </table><table width=100% class=main cellspacing=0>
            <tr>
               <th width="45%" nowrap>[W-title]</th>
               <th width="20%" nowrap>[W-time]</th>
               <th width="35%" nowrap>[W-notes]</th>
            </tr>
            [body]
         </table>
         <table width="100%" cellspacing="0" cellpadding="0"  valign="top" > 
            [add]
          <tr>
               <td  align="right" nowrap>&nbsp;</td>
          </tr>
         </table>

