<!-- "Bebin Schedule Page" -->
                  <table border="0" cellspacing="0" cellpadding="0" height="100%" width="100%">
                     <tr>
                        <td valign="top" width="100%" align="center">
                           [SHE-HEADER]  <br>

                        </td>
                     </tr>
                     <tr>
                      <td align="right">
                      	<a href="schedule_plan.php?mode=week_schedule&begin_day=[week]" target="print" onClick="wopen('','print');">[PRINT_WEEK_SCHEDULE]</a>
                      	<br /><br />
                      </td>
                     </tr>
                     <tr valign="top" height="100%">
                        <td>
                           <table border="0" cellspacing="0" cellpadding="0" height="100%" width="100%">
                           <tr valign="top">
                              <td valign="top" colspan="3" class='cMainBg'>
                              [main]
                              </td>
                           </tr>
                           <tr valign="top"  height="100%">
                              <td valign="top" colspan="3" class='cMainBg'>&nbsp;
                              </td>
                           </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
<!-- "End Schedule Page" -->