<a href="[PATH]schedule.php4?[SESSID]sf=[W-SF]" title="[W-showfull]" class="webd" style='cursor:hand;text-decoration:none'>[W-SFICO]</a>{?t?}Расписание{?/t?}
{?t?}название{?/t?}
{?t?}время{?/t?}
{?t?}заметки{?/t?}
{?t?}На текущую неделю{?/t?}
{?t?}Изменить это занятие{?/t?}
{?t?}добавить занятие{?/t?}
{?t?}Удалить это занятие{?/t?}
{?t?}новое занятие{?/t?}
{?t?}Новое занятие успешно добавлено{?/t?}
{?t?}Показывать расширенное представление{?/t?}
{?t?}Скрыть расширенное представление{?/t?}
{?t?}курс{?/t?}
{?t?}тип занятия{?/t?}
{?t?}Новые занятие успешно добавлены{?/t?}