<!-- "Begin Meeting" -->
<table width="198" height="165" border="0" cellspacing="0" cellpadding="0" valign="top">
 <tr>
  <td class=hello >
   <br>{?t?}Ваши курсы:{?/t?} <BR>
  </td>
 </tr>
 <tr>
  <td class=coursename>
   <span id=links class=[LINKS_VIEW]>
    <!-- coursename"Begin Course Links" -->
    <BR>[W-ucLINKS]
    <!-- "End Course Links" -->
   </span>
  </td>
 </tr>
 <tr>
  <td height="100%">&nbsp;
  </td>
 </tr>
</TABLE>
<!--
<TABLE border="0" align="center" cellpadding="3" cellspacing="0">
 <tr class='menu_left'>
  <td align="center" nowrap><img src="[PATH]images/menu/home.gif" border=0></td>
  <td align='left' valign="middle">
   <span id=links class=[SHED_VIEW]>
    <a href="[PATH]/index.php?[SESSID]">{?t?}В НАЧАЛО{?/t?}</a>
   </span>
  </td>
 </tr>
 <tr  class='menu_left'>
  <td align="center" nowrap><img src="[PATH]images/menu/shed.gif" border=0></td>
  <td align='left' valign="middle">
   <span id=links class=[SHED_VIEW]>
    <a href="[PATH]schedule.php4?[SESSID]" >
     {?t?}РАСПИСАНИЕ{?/t?}
    </a>
   </span>
  </td>
 </tr>
 <tr  class='menu_left'><td align="center" nowrap><img src="[PATH]images/menu/progress.gif" border=0></td>
  <td align='left' valign="middle"><a href="[PATH]ved.php4?[SESSID]" >
   <span id=links class=[MARKS_VIEW]>
    {?t?}УСПЕВАЕМОСТЬ{?/t?}
   </span>
       </a></td>
      </tr>
      <tr class='menu_left'><td align="center" nowrap><img src="[PATH]images/menu/task.gif" border=0></td>
         <td align='left' valign="middle">
          <span id=links class=[TASKS_VIEW]>
         <a href="[PATH]test_test.php?[SESSID]" >
{?t?}ЗАДАНИЯ{?/t?}</a>
</span></td>
      </tr>
      <tr class='menu_left'><td align="center" nowrap><img src="[PATH]images/menu/message.gif" border=0></td>
         <td align='left' valign="middle"><span id=links class=[MESSAGES_VIEW]>
                 <a href="[PATH]guestbook.php4?[SESSID]" >
{?t?}ОБЪЯВЛЕНИЯ{?/t?}</a></span>
</td>
      </tr>
      <tr class='menu_left'> <td align="center" nowrap><img src="[PATH]images/menu/quest.gif" border=0></td>
         <td align='left' valign="middle">
          <span id=links class=[QUESTIONS_VIEW]>
         <a href="[PATH]forum.php4?[SESSID]"  >
{?t?}ВОПРОСЫ{?/t?}-{?t?}ОТВЕТЫ{?/t?}</a></span></td>
      </tr>
      <tr class='menu_left'><td align="center" nowrap><img src="[PATH]images/menu/chat.gif" border=0></td>
         <td align='left' valign="middle">
          <span id=links class=[CHAT_VIEW]>
         <a href="[PATH]chat.php4?[SESSID]" >
{?t?}ОБСУЖДЕНИЯ{?/t?}</a></span></td>
      </tr>
      <tr class='menu_left'> <td align="center" nowrap><img src="[PATH]images/menu/exit.gif" border=0></td>
         <td align='left' valign="middle"><a href="[PATH]index.php?[SESSID]exit=true" >
{?t?}ВЫХОД{?/t?}</a></td>
      </tr>
      <tr>
         <td> <BR></td>
      </tr>
   </table>-->
<!-- "End Menu" -->