{?t?}Задания{?/t?}
{?t?}Создать новое задание{?/t?}
ID
{?t?}Название{?/t?}

{?t?}Изменен{?/t?}
{?t?}Курс{?/t?}: 
<font face=Webdings>&#0114;</font>
{?t?}Редактирование данного задания запрещено!{?/t?}
&nbsp;
<a href="#" class="wing" title="{?t?}Задание не опубликовано{?/t?}" onclick="return false;">G</a>
{?t?}править{?/t?}
{?t?}Вы действительно желаете удалить задание?{?/t?}
{?t?}Название задания{?/t?}
{?t?}Выберите курс, на котором будет создано новое задание{?/t?}
{?t?}Вы не ввели название задания{?/t?}
{?t?}опубликовано{?/t?}
{?t?}не опубликовано{?/t?}
{?t?}Все вопросы по курсу{?/t?}