<!-- "Begin test list Page" -->
<!--table width="100%" cellspacing="0" cellpadding="0"  valign="top">             
            <tr>
               <td  align="right" width="60%" class="th-before-corner"><img src="[PATH]images/spacer.gif" width="1" height="1" alt=""></td>
               <td  class="th3" align="right" background="[PATH-CORNER]images/corner03.gif" width="25px" border="0" height="15px"><img src="[PATH]images/spacer.gif" width="25" height="1" alt=""></td>
               <td  align="right" class="th3" nowrap >[TT-coursename]&nbsp;&nbsp;&nbsp;</td>
            </tr>
         </table-->
<div style="padding-bottom: 5px;">
<div style="float: left;">
    <img src="images/icons/small_star.gif"/>
</div>
<div>
    <a style="text-decoration: none;" href="test_test.php?c=add&cid=[CID]">{?t?}создать задание{?/t?}</a>
</div>         
</div>
<table width=100% class=main cellspacing=0>
<tr>
   <th  align="center">[W-task]</th>
   <th>{?t?}Статус{?/t?}</th>
   <th align="center" nowrap>{?t?}Количество вопросов{?/t?}</th>
   <th align="center">{?t?}Действия{?/t?}</th>
</tr>
[TEST-LIST]
</table>
<br>
<!-- "End test list Page" -->
