                                       <tr height="25">
                                          <td width="2%"><img src="[PATH]images/spacer.gif" width=1 height=1></td>
                                          <td>[W-choosecourse]</td>
                                       </tr>
                                       <tr height="46" valign="top">
                                          <td width="2%"><img src="[PATH]images/spacer.gif" width=1 height=1></td>
                                          <td>
                                          <select name="cid" size=1 style='width:90%'>
                                          [COURSES-LIST]
                                          </select>
                                          </td>
                                       </tr>
