<HTML>
<head>
<META content="text/html; charset=windows-1251" http-equiv="Content-Type">
<title>eLearning Server 3000</title>
<link rel="stylesheet" href="[PATH]styles/style.css" type="text/css">
</head>
<BODY  >
		  <table border=0 cellpadding=0 cellspacing=0 align=center width="100%">
          <!-- {?t?}заголовок{?/t?} -->
	         <tr>
			 <td class=skip>
				<table border=0 cellpadding=0 cellspacing=0 align=center width="100%" class=cHilight>
				<tr><br>
	              <td valign=top class=shedtitle>
					[NAME]
				  </td>
			      <td width="74%" valign="top">
					<table border=0 cellpadding=0 cellspacing=0 align=center width="100%" height="18px" background="images/schedule/back.gif" >
						<tr>
						<td width="100%" valign="top">
							<img src="images/spacer.gif">
						</td>
						</tr>
					</table>
				  </td>
	              <td height=19 valign="top" nowrap>
					<table border=0 cellpadding=0 cellspacing=0 align=center width="100%" height="18px">
					<tr>
					<td width="100%" valign="bottom">
					<div><b><a title="" class=wingna style="font-size: 14px">а</a></b></div>
					</td>
					</tr>
					</table>
				  </td>
	            </tr>
				</table>
			 </td>
			</tr>
	        <tr>
			 <td width=100%>
				<img src="images/spacer.gif" alt="" width=1 height=15 border=0>
			 </td>
			</tr>
			<tr>
			 <td width=100% class="forum">
				[STATIC]
			 </td>
			</tr>
	                <!-- /{?t?}заголовок{?/t?} -->

			<tr class="br">
			 <td width=100%>
				<table width=100% border=0 cellspacing="1" cellpadding="0"  class=schedule>
				<tr>
				  <th colspan="2">{?t?}Преподаватели:{?/t?}</th>
    			</tr>
				[Teachers]
			  </table>
			 </td>
			</tr>
		  </table>
</BODY>
</HTML>