<tr >
	<td width="100%">
		<table width=100% border=0 cellspacing="1" cellpadding="0"  class=schedule>
			<tr>
			<td width="18%" valign="top">
			   <b>{?t?}ФИО:{?/t?}</b>
			</td>
			<td width="87%">
			   [lName] [fName]
			</td>
			<tr>
			</tr>
			<td  width="18%" valign="top">
			   <b>email:</b>
			</td>
			<td  width="87%">
			   <a href="mailto:[mail]">[mail]</a>
			</td>
			</tr>
			<td  width="18%" valign="top">
			   <!--b>{?t?}о себе:{?/t?}</b-->
			</td>
			<td  width="87%">
			<p align="justify">
			   [about]
			</p>
			</td>
			</tr>
			<tr>
			<td  width="18%" valign="top">
			   <b>{?t?}Препода{?/t?}ёт<br> {?t?}на  курсах:{?/t?}</b>
			</td>
			<td  width="87%">
			   [classes]
			</td>
			</tr>
		</table>
	</td>
	<td valign="top">
		[PHOTO]
	</td>
</tr>