html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }

ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style: none; list-style-image: none; }

small { font-size: 85%; }

strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; }

input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

input[type="checkbox"], input[type="radio"] { padding: 0; }

button, input, select, textarea { margin: 0; }

input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection { background: #ff5e99; color: white; text-shadow: none; }

::selection { background: #ff5e99; color: white; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #ff5e99; }

button { width: auto; overflow: visible; }

html { border: 0; }

html.no-overflow { overflow-y: hidden; }

html, body { height: 100%; }

body { font: 11px/1.231 sans-serif; background-image: url('../images/background-pattern.png'); background-color: #d2ddef; }

body, select, input, textarea, button { color: #333333; font-family: "PT Sans", verdana, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 1.636em; font-weight: normal; color: #3f5c6e; }

a { color: #5b94bc; }
a:visited { color: #5b94bc; }
a:hover { color: #1171b4; }
a:active { color: #5b94bc; }

a:link { -webkit-tap-highlight-color: #adb117; }

a, a:active { -moz-transition: color 0.15s ease-in; -webkit-transition: color 0.15s ease-in; -o-transition: color 0.15s ease-in; transition: color 0.15s ease-in; }

a:hover { -moz-transition: color 0.15s ease-out; -webkit-transition: color 0.15s ease-out; -o-transition: color 0.15s ease-out; transition: color 0.15s ease-out; }

.ui-widget, .ui-widget .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 1em; }
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: "PT Sans", verdana, sans-serif; }

.ui-widget-content, .ui-widget-header { color: #333333; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #333333; }

.ui-widget-content a, .ui-widget-header a { color: #5b94bc; }
.ui-widget-content a:visited, .ui-widget-header a:visited { color: #5b94bc; }
.ui-widget-content a:hover, .ui-widget-header a:hover { color: #1171b4; }
.ui-widget-content a:active, .ui-widget-header a:active { color: #5b94bc; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #5b94bc; }

.ui-state-hover a, .ui-state-hover a:hover { color: #1171b4; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #5b94bc; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a, .ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #5b94bc; }

input:invalid, textarea:invalid { -moz-border-radius: 1px; border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }

input.invalid, textarea.invalid { -moz-border-radius: 1px; border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

.no-boxshadow input.invalid, .no-boxshadow textarea.invalid { background-color: #f0dddd; }

::-webkit-input-placeholder { color: #a3a1a1; }

:-moz-placeholder { color: #a3a1a1; }

::-moz-selection { background: #adb117; color: white; }

::selection { background: #adb117; color: white; }

.ie7 input[type="checkbox"], .ie7 input[type="radio"] { width: 13px; height: 13px; }

#container { margin: 0 1.909em; position: relative; padding-bottom: 1px; }

#header { margin-bottom: 0.818em; background: transparent; *zoom: 1; }
#header:after { content: ""; display: table; clear: both; }
#header a, #header { color: #455b81; }

#header .block { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; vertical-align: top; zoom: 1; position: relative; }
#header .block { *display: inline; }

#logo { margin-left: 1px; margin-right: 1.636em; border-bottom: 1px solid #a7b0be; }
#logo div { margin: 0 -1px; border: 0 solid #afb8c7; border-width: 0 1px; padding: 0 0 1px; background-color: white; position: relative; zoom: 1; }
#logo div div { background-color: #c4cedf; margin: 0 -1px; border: 0; padding: 0 1px; }
#logo img { display: block; }

#user-block { margin-top: 0.454em; margin-right: 1.636em; white-space: nowrap; line-height: 1.454em; min-width: 16em; }
#user-block h3 { line-height: 1em; }
#user-block div, #user-block h3 { padding: 0 0.454em; }
#user-block select { width: auto; }
#user-block .name { font-weight: bold; }
#user-block .logout, #user-block .login { margin-top: 0.5em; }
#user-block .welcome-text, #user-block .login { display: none; display: none; }

#header .block, #search-block { text-shadow: none; }

#search-block { position: absolute; top: 0.454em; right: 0; white-space: nowrap; line-height: 1.818; }
#search-block input { color: black; }
#search-block input.input-seach { border: 1px inset #9aa4b4; background-color: white; -webkit-appearance: textfield; width: 19em; }
#search-block input.input-seach.placeholder { color: white; }
#search-block input.input-seach::-webkit-input-placeholder { color: white; }
#search-block input.input-seach:-moz-placeholder { color: white; }
#search-block .submit-search { background: transparent; border: 0; padding: 0 1em; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-shadow: none; color: #455b81; margin: 0; }

#footer { background-color: transparent; border-bottom: 1px solid #d1d1d2; margin: 0 2px 2.09em; }
#footer { color: #9db9cd; }
#footer a { color: #688167; }
#footer a:hover { color: #516550; }
#footer .wrapper { border: 1px solid #f4f4f4; border-width: 0 1px; background-color: transparent; margin: 0 -1px; padding-bottom: 1px; }
#footer #credits { border: 1px solid #d1d5c8; border-width: 0 1px; background-color: #e6eece; background-image: url('../images/footer-background-pattern.png'); margin: 0 -2px; padding: 1em; }

#page-title { margin: 0.167em 0; }

#main { position: relative; margin-top: 0.818em; }
.document-blank #main { margin-bottom: 0.818em; }
#main .els-body { background-color: white; width: 100%; overflow: hidden; position: relative; min-height: 30em; }
#main .els-box { margin: 2em 1.92em; position: relative; }
#main .els-content { margin-top: 1em; margin-bottom: 2em; min-height: 1px; }
#main .tab-bar .clocks { position: absolute; top: 1.363em; right: 1.091em; color: black; }

.ie7 #main { margin-top: 0.727em; }

.help-activator { display: block; width: 16px; height: 16px; background: transparent url('../images/hilfe.gif') center center no-repeat; text-indent: -9999em; overflow: hidden; position: absolute; top: 0; right: 0; }

.ui-selectmenu { background-color: #dfe7f4; border: 1px solid #b3bed0; height: 1.636em; }
.ui-selectmenu, .ui-selectmenu:hover, .ui-selectmenu:link, .ui-selectmenu:visited { color: #455b81 !important; }
.ui-selectmenu .ui-selectmenu-icon { right: 1px; border-left: 1px solid black; }
.ui-selectmenu .ui-icon-triangle-1-s { background-position: -65px -16px; }
.els-content .ui-selectmenu { border-width: 1px; background-color: #e7e7e7; border-color: #b1c0ca; }
.els-content .ui-selectmenu, .els-content .ui-selectmenu a, .els-content .ui-selectmenu a:hover { color: #333333 !important; }

.ui-state-default .ui-selectmenu-icon { background-image: url('../images/ui-icons_ffffff_256x240.png'); }
.els-content .ui-state-default .ui-selectmenu-icon { background-image: url('../images/ui-icons_454545_256x240.png'); }

.ui-selectmenu-menu li a, .ui-selectmenu-status { line-height: 1.636em; padding: 0 4px; }

.ui-selectmenu-status { margin-right: 1.636em; border-right: 1px solid black; }

span.ui-selectmenu .ui-selectmenu-status { margin-right: 0; border-right-width: 0; }

.ui-selectmenu-menu { border: 1px solid #b3bed0; border-top-width: 0; }
.ui-selectmenu-menu, .ui-selectmenu-menu ul, .ui-selectmenu-menu .ui-corner-bottom { -moz-border-radius-bottomleft: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; border-bottom-right-radius: 2px; }
.ui-selectmenu-menu .ui-selectmenu-group-label { font-size: 1em; border-bottom: 1px solid #333333; }
.ui-selectmenu-menu li, .ui-selectmenu-menu li a { color: #333333 !important; }
.ui-selectmenu-menu li, .ui-selectmenu-menu .ui-state-hover { border: 0; }
.ui-selectmenu-menu .ui-selectmenu-group li a { padding-left: 1.5em; }
.ui-selectmenu-menu .ui-selectmenu-item-selected, .ui-selectmenu-menu .ui-selectmenu-item-selected a { font-weight: bold; }
.ui-selectmenu-menu .ui-state-hover, .ui-selectmenu-menu .ui-state-hover a { color: #333333 !important; }
.ui-selectmenu-menu li { -moz-transition: background-color 0.1s ease-out; -webkit-transition: background-color 0.1s ease-out; -o-transition: background-color 0.1s ease-out; transition: background-color 0.1s ease-out; }
.ui-selectmenu-menu .ui-state-hover { background-color: #dfe7f4; background-image: none; -moz-transition: background-color 0.1s ease-in; -webkit-transition: background-color 0.1s ease-in; -o-transition: background-color 0.1s ease-in; transition: background-color 0.1s ease-in; }
.ui-selectmenu-menu a, .ui-selectmenu-menu a:active, .ui-selectmenu-menu a:hover { -moz-transition-duration: 0.1s; -webkit-transition-duration: 0.1s; -o-transition-duration: 0.1s; transition-duration: 0.1s; }

.ui-selectmenu-menu-popup { border-top-width: 1px; }

.language-select { margin-left: 1em; }
.language-select a { white-space: nowrap; }
.language-select acronym { vertical-align: 0; font-weight: bold; display: inline-block; width: 2em; padding: 0 0.3em; margin-right: 0.3em; line-height: 1.3em; text-align: center; -moz-border-radius: 3px; border-radius: 3px; background: rgba(255, 255, 255, 0.2); text-shadow: none; }

.ui-selectmenu-menu acronym { font-weight: normal; background: #eeeeee; color: black; }

select.language-select, select.navigation-select { visibility: hidden; }

.submenu { border-top: 1px solid #d1e1eb; padding: 0 1px; position: absolute; }
.submenu .submenu-gradient { position: absolute; top: 0; left: 0; width: 100%; height: 3em; overflow: hidden; background-color: transparent; }
.submenu .submenu-wrapper { border: 0px solid #bcc0c2; border-width: 0 0 1px; background: #eaeff2; position: relative; }
.submenu .submenu-wrapper .submenu-wrapper { margin: 0 -1px; border: 0 solid #dbe2e7; border-width: 0 1px; background: transparent; padding: 0.727em 1.364em; }

.submenu-selected { border-top: 0px solid white; }

.submenu { text-align: left; }

.submenu-left { text-align: left; }

.submenu-right { text-align: right; }

.submenu ul, .submenu li { list-style-type: none; margin: 0; padding: 0; letter-spacing: 1em; zoom: 1; }
.submenu li.item-with-submenu { border-top: 1px solid #bcc0c2; margin: 0.5em -2px 0; }
.submenu li.item-with-submenu ul { border-top: 1px solid white; padding: 0.5em 2px 0; }
.submenu li.item-with-submenu-first, .submenu li.item-with-submenu-first ul { border-top-width: 0; margin-top: 0; padding-top: 0; }
.submenu a { line-height: 2em; letter-spacing: 0; white-space: nowrap; }
.submenu .menu-current { font-weight: bold; }

#main .tab-bar { padding-top: 1px; margin: 0 1px; background-color: #c4cedf; position: relative; overflow: hidden; }
#main .tab-bar .wrapper { margin: 0 -1px; background-color: #d2ddef; background-image: url('../images/tab-background-pattern.png'); padding: 0 5em 0 0.909em; }
#main .tab-bar ul { margin: 0; padding: 0 2px; background: transparent; }
#main .tab-bar ul li, #main .tab-bar ul { list-style: none; white-space: nowrap; }
#main .tab-bar ul li { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin: 1.091em 0.727em 0 0; border: 0 solid #dee1e4; border-top-width: 1px; line-height: 2.363em; vertical-align: bottom; }
#main .tab-bar ul li { *display: inline; }
#main .tab-bar ul li, #main .tab-bar ul li a, #main .tab-bar ul li span { zoom: 1; }
#main .tab-bar ul li, #main .tab-bar ul li a { color: #455b81; }
#main .tab-bar ul li a, #main .tab-bar ul li span { display: block; margin: 0 -1px; }
#main .tab-bar ul li a { border: 0 solid white; border-top-width: 1px; cursor: pointer; text-decoration: none; background-color: #edf1f7; }
#main .tab-bar ul li span { border: 0 solid #c4c9ce; border-width: 0 1px; padding: 0 1.182em; }
#main .tab-bar ul li a:hover, #main .tab-bar ul li.ui-state-hover a { color: black; }
#main .tab-bar ul li.ui-state-active a { background-color: #d1e1eb; border-top-color: #d1e1eb; }
#main .tab-bar ul li.ui-tabs-selected { margin-top: 0.909em; border-color: #dee1e4; line-height: 2.545em; }
#main .tab-bar ul li.ui-tabs-selected, #main .tab-bar ul li.ui-tabs-selected a { color: #2b5eae; }
#main .tab-bar ul li.ui-tabs-selected a { border-color: white; background-color: white; }
#main .tab-bar ul li.ui-tabs-selected a:hover { color: #2b5eae; }
#main .tab-bar ul li.ui-tabs-selected span { border-color: #c4c9ce; padding: 0 1.364em; }
#main .tab-bar ul li.collaboration { border-top-color: #dee1e4; }
#main .tab-bar ul li.collaboration a { color: #455b81; background-color: #dff9dd; border-top-color: white; }
#main .tab-bar ul li.collaboration span { padding-left: 3em; background-image: url('../images/collaboration.png'); background-position: 0.454em center; background-repeat: no-repeat; border-color: #c4c9ce; }
#main .tab-bar ul li.collaboration.ui-state-active { border-top-color: #c4c9ce; }
#main .tab-bar ul li.collaboration.ui-state-active a { background-color: #cbf5c7; border-top-color: white; }
#main .tab-bar ul li.collaboration.ui-tabs-selected { border-top-color: white; }
#main .tab-bar ul li.collaboration.ui-tabs-selected, #main .tab-bar ul li.collaboration.ui-tabs-selected a { color: #2b5eae; }
#main .tab-bar ul li.collaboration.ui-tabs-selected a { background-color: white; border-top-color: white; }
#main .tab-bar ul li.collaboration.ui-tabs-selected a:hover { color: #2b5eae; }
#main .tab-bar ul li.home span { text-indent: -999em; text-align: left; background-image: url('../images/home.png'); background-repeat: no-repeat; background-position: center center; }
#main .tab-bar ul li em.arrow { font-size: 0.7em; line-height: 0; }

.ui-tabs { position: relative; padding: 0; margin: 0; }
.ui-tabs .ui-tabs-panel { display: block; margin: 0; border-width: 0; padding: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs .ui-tabs-nav { background-color: #a4ee9f; background-image: url('../images/extended-page-tabs-bg.gif'); background-repeat: repeat; border: 1px solid #9fb69e; overflow: visible; padding: 0 0.818em; width: auto !important; margin: 0; -moz-border-radius: 3px; border-radius: 3px; }
.ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav a, .ui-tabs .ui-tabs-nav span { zoom: 1; }
.ui-tabs .ui-tabs-nav li { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin: 1em 0.727em 0 0; border: 1px solid #9fb69e; border-width: 1px 0 0 0; line-height: 2.363em; -moz-border-radius: 0px; border-radius: 0px; vertical-align: bottom !important; }
.ui-tabs .ui-tabs-nav li { *display: inline; }
.ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-nav li span { position: static; top: auto; left: auto; float: none; }
.ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav li a { color: #688167; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-nav li span { display: block; }
.ui-tabs .ui-tabs-nav li a { cursor: pointer; margin: 0 -1px; border: 0 solid #9fb69e; border-width: 0 1px; padding: 1px 0 0; text-decoration: none; background-color: white; }
.ui-tabs .ui-tabs-nav li a:hover, .ui-tabs .ui-tabs-nav li.ui-state-hover a { color: black; }
.ui-tabs .ui-tabs-nav li span { margin: 0 -2px; padding: 0 1.182em; background-color: #eefcee; border: 0 solid #9fb69e; border-width: 0 1px; overflow: hidden; position: relative; }
.ui-tabs .ui-tabs-nav li span span, .ui-tabs .ui-tabs-nav li.ui-tabs-selected span span { display: inline; margin: 0; padding: 0; border-width: 0; background-color: transparent; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-top: 0.818em; margin-bottom: 0; margin-left: 0; position: relative; bottom: -1px; padding: 0; border-color: #a8a8a8; line-height: 2.636em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { border-color: #a8a8a8; background-color: white; color: #27333c; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected span { background-color: white; padding: 0 1.364em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected .gradient-me { display: none; }
.ui-tabs .ui-tabs-nav li .gradient-me { position: absolute; overflow: hidden; height: 1em; left: 0; bottom: 0; width: 500%; z-index: 0; }

.extended-page .extended-page-tabs { margin-top: 2em; }

.extended-page-tabs .ui-tabs-panel { margin-top: 1em; }

.ui-els-flash-message .ui-icon { background-image: url('../images/flash-message-icons.gif'); }
.ui-els-flash-message .ui-state-highlight .ui-icon { background-position: 0 -32px; }
.ui-els-flash-message .ui-state-error .ui-icon { background-position: 0 -16px; }
.ui-els-flash-message .ui-state-success .ui-icon { background-position: 0 0; }

#error-box, #error-box .ui-els-flash-message, .error-box, .error-box .ui-els-flash-message { margin: 0.273em 0; }

#tabs .error-box { margin: 1em 0; }

.ui-portlet { margin: 1em 0; }

.ui-portlet-titlebar .bg { display: block; position: absolute; top: 1px; left: 0; width: 100%; height: 100%; z-index: -1; background-color: #c1cfe5; }
.ui-portlet-titlebar h3 { border-color: white #9ba9c1 black #9ba9c1; border-width: 0 1px; padding: 1.182em 1.091em 1.091em; }
.ui-portlet-titlebar h3, .ui-portlet-titlebar h3 a { color: #2b5eae; }

.ui-portlet-titlebar-wrapper { border-top-width: 1px; border-color: #9ba9c1; background: #c1cfe5; }

.ui-portlet-titlebar .ui-icon { background-image: url('../images/ui-icons_ffffff_256x240.png'); }

.columns .ui-portlet { margin-top: 0; }
.columns .column .ui-portlet:last-child { margin-bottom: 0; }
.columns .column .ui-portlet-last-in-column { margin-bottom: 0; }

.ui-portlet-content table .form td img { vertical-align: middle; padding-bottom: 0.5em; }
.ui-portlet-content table .form td .element { color: red; }
.ui-portlet-content button, .ui-portlet-content input[type="submit"], .ui-portlet-content input[type="button"], .ui-portlet-content .ui-button, .ui-portlet-content .ui-button-text-only { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0.3em; border-radius: 0.3em; color: #5d6970; }
.ui-portlet-content button, .ui-portlet-content button.ui-state-default, .ui-portlet-content input[type="submit"], .ui-portlet-content input[type="submit"].ui-state-default, .ui-portlet-content input[type="button"], .ui-portlet-content input[type="button"].ui-state-default, .ui-portlet-content .ui-button, .ui-portlet-content .ui-button.ui-state-default, .ui-portlet-content .ui-button-text-only, .ui-portlet-content .ui-button-text-only.ui-state-default { border-color: #9ba9c1; background-image: url('../images/ui-portlet-button-bg.gif'); }
.ui-portlet-content button:active, .ui-portlet-content button.ui-state-active, .ui-portlet-content input[type="submit"]:active, .ui-portlet-content input[type="submit"].ui-state-active, .ui-portlet-content input[type="button"]:active, .ui-portlet-content input[type="button"].ui-state-active, .ui-portlet-content .ui-button:active, .ui-portlet-content .ui-button.ui-state-active, .ui-portlet-content .ui-button-text-only:active, .ui-portlet-content .ui-button-text-only.ui-state-active { background-image: url('../images/ui-portlet-button-active-bg.gif'); }

#fieldset-infoblocks-list { border: 0.09em solid #b2c0c9; padding: 1.363em; -moz-border-radius: 0.454em; border-radius: 0.454em; }
#fieldset-infoblocks-list legend { padding: 0em 0.454em 0em 0.454em; font-weight: bold; color: #3f5c6e; text-decoration: none; }
#fieldset-infoblocks-list ul { padding-left: 1.363em; padding-right: 0; padding-top: 0; padding-bottom: 0; }
#fieldset-infoblocks-list ul li { font-weight: bold; padding: 0.272em; list-style-image: url('../images/dynatree/folder-opened.png'); }
#fieldset-infoblocks-list ul li ul li { padding-right: 1.181em; font-weight: normal; cursor: move; list-style-image: url('../images/dynatree/folder-closed.png'); }

.fieldset-infoblocks-buttons { padding: 1.363em; }

.extended-page-has-course-content { margin-left: -0.42em; margin-right: -0.42em; margin-bottom: -0.42em; }

.content-container-expandable { background-image: url('../images/content-container/background-pattern.png'); }
.content-container-expandable .content-size { position: absolute; top: 1em; right: 1em; width: 2em; height: 2em; background-color: #58b2e4; -moz-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.3); -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.3); box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.3); -moz-border-radius: 2px; border-radius: 2px; border: 1px solid #9ba9c1; cursor: pointer; }
.ie7 .content-container-expandable .content-size { margin-top: -1px; }
.content-container-expandable .content-size:active { background-color: #2c9edd; -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.3); box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.3); }
.content-container-expandable .content-size span { display: none; visibility: hidden; position: absolute; right: 115%; background: black; width: auto; white-space: nowrap; padding: 0 0.5em; line-height: 1.5em; height: 1.5em; top: 50%; color: white; text-indent: 0; margin-top: -0.75em; text-align: right; }
.content-container-expandable .content-size span.content-size-expand { display: block; }
.content-container-expandable .content-size span.ui-icon { width: 100%; height: 100%; display: block; visibility: visible; background: transparent url('../images/content-container/maximin.png') top right no-repeat; position: static; padding: 0; margin: 0; }
.content-container-expandable .content-size:hover span { visibility: visible; }
.content-container-expandable.content-container-expanded .content-size span.content-size-collapse { display: block; }
.content-container-expandable.content-container-expanded .content-size span.content-size-expand { display: none; }
.content-container-expandable .content-here { margin: 4em 0.5em 0.5em; -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); border-color: white; min-height: 60em; overflow: visible; }

.content-container-expanded .content-here { margin-top: 3.5em !important; }

.content-container-expanded .course-navigation { top: -3.5em; }

.content-container-expanded .content-size { top: 0.5em; right: 0.5em; }
.ie7 .content-container-expanded .content-size, .ie8 .content-container-expanded .content-size { margin-top: -2px; }
.content-container-expanded .content-size span.ui-icon { background-position: top left; }

.page-context-accordion h3.ui-accordion-header { border-top-color: #c4cedf; border-bottom-color: #c4cedf; }
.page-context-accordion h3.ui-accordion-header, .page-context-accordion h3.ui-accordion-header a, .page-context-accordion h3.ui-accordion-header .header { color: #455b81; }
.page-context-accordion h3.ui-accordion-header a { border-color: #c4cedf; background-color: #e0e7f2; }
.page-context-accordion h3.ui-accordion-header .gradient-me, .page-context-accordion h3.ui-accordion-header .gradient-me-again, .page-context-accordion h3.ui-accordion-header hr { margin: 0; padding: 0; display: block; top: 0; left: 0; position: absolute; width: 100%; z-index: 0; }
.page-context-accordion h3.ui-accordion-header .gradient-me { height: 100%; }
.page-context-accordion h3.ui-accordion-header .gradient-me-again { height: 50%; }
.page-context-accordion h3.ui-accordion-header hr { border-top-color: #eef2f9; }
.page-context-accordion h3.ui-accordion-header .ui-icon-triangle-1-e { background-position: -31px -15px; }
.page-context-accordion h3.ui-accordion-header .ui-icon-triangle-1-s { background-position: -63px -14px; }
.page-context-accordion h3.ui-accordion-header .ui-icon { width: 1.727em; height: 1.727em; margin-top: -0.85em; padding: 0; -moz-border-radius: 0.864em; border-radius: 0.864em; top: 50%; left: 0.5em; background-color: transparent; font-size: 1em; background-image: url('../images/ui-icons_454545_256x240.png') !important; }
.page-context-accordion h3.ui-accordion-header .ui-icon .ui-icon { left: 0; width: 100%; height: 100%; background: transparent; position: absolute; cursor: pointer; z-index: 1; }
.page-context-accordion h3.ui-state-hover { border-top-color: #c4cedf; border-bottom-color: #c4cedf; }
.page-context-accordion h3.ui-state-hover, .page-context-accordion h3.ui-state-hover a, .page-context-accordion h3.ui-state-hover .header { color: #455b81; }
.page-context-accordion h3.ui-state-hover a { border-color: #c4cedf; background-color: #e5f2bf; }
.page-context-accordion h3.ui-state-hover hr { border-top-color: #e6f2db; }
.page-context-accordion h3.ui-state-active { border-top-color: #9ba9c1; }
.page-context-accordion h3.ui-state-active, .page-context-accordion h3.ui-state-active a, .page-context-accordion h3.ui-state-active .header { color: #2b5eae; }
.page-context-accordion h3.ui-state-active a { border-color: #9ba9c1; background-color: #c1cfe5; }
.page-context-accordion h3.ui-state-active hr { border-top-color: #c1cfe5; }

.ie .page-context-accordion h3.ui-accordion-header .ui-icon { background-color: transparent; background-image: url('../images/ui-icons_ffffff_256x240.png'); }
.ie .page-context-accordion h3.ui-accordion-header .ui-icon-triangle-1-e .ui-icon { background-position: -31px -15px; }
.ie .page-context-accordion h3.ui-accordion-header .ui-icon-triangle-1-s .ui-icon { background-position: -63px -14px; }

.page-context-accordion .ui-accordion-content a { color: #455b81; }
.page-context-accordion .ui-accordion-content a:hover { color: #334460; }
.page-context-accordion .ui-accordion-content ul.navigation li { font-weight: bold; }
.page-context-accordion .ui-accordion-content ul.navigation ul li { font-weight: normal; }
.page-context-accordion .ui-accordion-content ul.navigation ul li.active, .page-context-accordion .ui-accordion-content ul.navigation ul li.active a { text-decoration: none; font-weight: bold !important; color: #334460; }

.course-index { max-height: 50%; height: 50%; width: 80%; bottom: auto; left: 1%; border: 1px solid #9ba9c1; -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.5); top: -0.5em; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; background: #c1cfe5; }
.course-index .course-index-box { height: 100%; overflow: auto; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; }

.course-index-header { display: none; }

.course-index-box { background: transparent; }

.course-index-box-wrapper { padding: 1em 1em; overflow: visible; }

.course-index-box, .course-index-box-wrapper { height: auto; }

.course-navigation { display: block; bottom: auto; top: -3.5em; left: -1px; margin-top: -2px; background-color: #e0e7f2; height: 3em; border: 1px solid white; -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); zoom: 1; }
.course-navigation .gradient-me-again, .course-navigation .gradient-hr { display: none; }
.course-navigation .gradient-me { position: absolute; left: 0; bottom: 0; width: 100%; z-index: 0; overflow: hidden; height: 100%; }
.course-navigation .nav-button-backup { display: none; }
.course-navigation .wrapper, .course-navigation .course-button { height: 100%; }
.course-navigation .course-button { cursor: pointer; display: inline-block; *display: inline; *zoom: 1; -moz-border-radius: 2px; border-radius: 2px; border-width: 1px; border-style: solid; border-color: transparent; background-color: transparent; color: #455b81; position: relative; left: 1%; margin-top: -1px; padding-left: 0.5em; padding-right: 0.5em; font-size: 1.8em; font-weight: bold; }
.course-navigation .course-button span { vertical-align: middle; }
.course-navigation .course-button-active { border-color: #9ba9c1; background-color: #c1cfe5; background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D'1.0'%3F%3E%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cdefs%3E%3ClinearGradient%20id%3D'g'%20x1%3D'0'%20y1%3D'0'%20x2%3D'0'%20y2%3D'100%25'%3E%3Cstop%20offset%3D'0'%20stop-color%3D'%23c1cfe5'%2F%3E%3Cstop%20offset%3D'1'%20stop-color%3D'%23c1cfe5'%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect%20x%3D'0'%20y%3D'0'%20width%3D'100%25'%20height%3D'100%25'%20style%3D'fill%3Aurl(%23g)'%2F%3E%3C%2Fsvg%3E"); background-image: -o-linear-gradient(top, #c1cfe5, #c1cfe5); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1cfe5), color-stop(100%, #c1cfe5)); background-image: -webkit-linear-gradient(top, #c1cfe5, #c1cfe5); background-image: -moz-linear-gradient(top, #c1cfe5, #c1cfe5); background-image: linear-gradient(top, #c1cfe5, #c1cfe5); background-image: -ms-linear-gradient(top, #c1cfe5, #c1cfe5); filter: progid:DXImageTransform.Microsoft.Gradient(enabled=true, startColorstr=#ffc1cfe5, endColorstr=#ffc1cfe5, gradientType=0); -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(enabled=true, startColorstr=#ffc1cfe5, endColorstr=#ffc1cfe5, gradientType=0)"; color: #2b5eae; -moz-border-radius: 2px 2px 0px 0px; border-radius: 2px 2px 0px 0px; border-bottom-color: #c1cfe5; margin-top: 1px; }
.course-navigation .course-button-active span { position: relative; top: -2px; display: inline-block; *display: inline; *zoom: 1; }
.course-navigation .course-button:hover { border-color: #c4cedf; background-color: #e5f2bf; background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D'1.0'%3F%3E%3Csvg%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cdefs%3E%3ClinearGradient%20id%3D'g'%20x1%3D'0'%20y1%3D'0'%20x2%3D'0'%20y2%3D'100%25'%3E%3Cstop%20offset%3D'0'%20stop-color%3D'%23e6f2db'%2F%3E%3Cstop%20offset%3D'1'%20stop-color%3D'%23e4f2a1'%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect%20x%3D'0'%20y%3D'0'%20width%3D'100%25'%20height%3D'100%25'%20style%3D'fill%3Aurl(%23g)'%2F%3E%3C%2Fsvg%3E"); background-image: -o-linear-gradient(top, #e6f2db, #e4f2a1); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6f2db), color-stop(100%, #e4f2a1)); background-image: -webkit-linear-gradient(top, #e6f2db, #e4f2a1); background-image: -moz-linear-gradient(top, #e6f2db, #e4f2a1); background-image: linear-gradient(top, #e6f2db, #e4f2a1); background-image: -ms-linear-gradient(top, #e6f2db, #e4f2a1); filter: progid:DXImageTransform.Microsoft.Gradient(enabled=true, startColorstr=#ffe6f2db, endColorstr=#ffe4f2a1, gradientType=0); -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(enabled=true, startColorstr=#ffe6f2db, endColorstr=#ffe4f2a1, gradientType=0)"; color: #455b81; }
.course-navigation .course-button .ns-spacer { display: inline-block; *display: inline; *zoom: 1; height: 100%; width: 0; overflow: hidden; position: static; }

.course-iframe-box { height: 60em; }
.course-iframe-box { padding: 5px; }

.course-presentation { overflow: visible; }

.course-presentation-with-index .course-iframe-box { height: 60em; }

.course-presentation-without-index .course-navigation { display: block; }

.course-index-box ul.dynatree-container a { color: white; }
.course-index-box span.dynatree-active a { color: black; }
.course-index-box span.dynatree-icon { top: 0.3em; }
.course-index-box span.dynatree-connector, .course-index-box span.dynatree-expander { display: none; }
.course-index-box span.dynatree-node { left: 18px; margin-right: 18px; }
.course-index-box span.dynatree-node a { padding-left: 0; padding-right: 0; }

.course-play-overlay { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: white; opacity: 0.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }

.course-play-overlay-wrapper { position: absolute; top: 50%; left: 50%; float: left; }
.course-play-overlay-wrapper .play-button { display: block; outline: none; cursor: pointer; text-indent: -9999px; background: transparent url('../images/play.png') center center no-repeat; width: 52px; height: 52px; position: relative; top: -26px; left: -50%; opacity: 0.8; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); }
.course-play-overlay-wrapper .play-button:hover { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }

.subject-course-list { margin: 0.5em 0; list-style-type: none; padding: 0; }

.container-ear { height: 28px; }

.accordion-expander { background: transparent url('../images/extended-page-accordion-toggle.gif') left top no-repeat; }

.accordion-expander-collapsed { width: 27px; background-position: right top; }

.ui-dialog { border-style: solid; border-width: 1px; border-color: #20264f #101132 #101132 #2a315e; background-color: #222853; padding: 0; -moz-border-radius: 2px; border-radius: 2px; }
.ui-dialog .ui-icon { background-image: url('../images/ui-icons_ffffff_256x240.png'); }
.ui-dialog .ui-widget-header, .ui-dialog .ui-widget-header a, .ui-dialog .ui-widget-content, .ui-dialog .ui-widget-content a { color: white; }
.ui-dialog .ui-widget-content { background-color: transparent; }
.ui-dialog .ui-dialog-content, .ui-dialog .ui-dialog-buttonpane, .ui-dialog .ui-dialog-content-wrapper { margin: 0 0.818em; }
.ui-dialog .ui-dialog-titlebar { -moz-border-radius: 0px; border-radius: 0px; border-top: 1px solid #84849a; background-color: transparent; padding: 0.8em 0.818em; word-wrap: break-word; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-title { float: none; display: block; margin-right: 30px; color: white; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-gradient { position: absolute; top: 0; left: 0; width: 100%; z-index: -1; height: 100%; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-gradient div { height: 50%; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar-close { right: 0.818em; top: 1.5em; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { background-color: transparent; padding: 0; border: 1px solid white; -moz-border-radius: 2px; border-radius: 2px; }
.ui-dialog .ui-dialog-content-wrapper { border-top: 1px solid #16193e; }
.ui-dialog .ui-dialog-content-wrapper .ui-dialog-content { margin: 0; }
.ui-dialog .ui-dialog-content { border-top: 1px solid #333b74; border-bottom: 1px solid #16193e; padding: 1em; }
.ui-dialog .ui-dialog-buttonpane { border-top: 1px solid #333b74; background-color: transparent; padding: 0.8em 0; }
.ui-dialog .ui-dialog-buttonpane button:not(:last-of-type) { margin-right: 1.454em; }
.ui-dialog .ui-dialog-buttonpane button { margin: 0.5em 1.454em 0.5em 0; margin: 0.5em 0.727em 0.5em 0; -moz-border-radius: 2px; border-radius: 2px; border: 1px solid #b1c0ca; -moz-box-shadow: inset 0px 0px 1px 1px white; -webkit-box-shadow: inset 0px 0px 1px 1px white; box-shadow: inset 0px 0px 1px 1px white; color: #5d6970; }
.ui-dialog .ui-dialog-buttonpane button .ui-button-text { padding: 0.182em 0.727em; }

.card .ui-dialog-content-wrapper { margin: 0; }
.card .ui-dialog-content { background-color: #d9e1e8; border-bottom-color: #d9e1e8; position: static; filter: none; -ms-filter: none; }
.card .ui-dialog-content { color: #546e7e; }
.card .ui-dialog-content a { color: #546e7e; }
.card .ui-dialog-content a:hover { color: #546e7e; }
.card .ui-dialog-content td { padding: 0.5em; }

table.card { table-layout: fixed; width: 100%; }
table.card .card-info-content { word-wrap: break-word; }

.pcard { background: #c1cfe5; -moz-border-radius: 3px 3px 0px 0px; border-radius: 3px 3px 0px 0px; padding: 0; border: none; border-bottom: 1px solid #9db3d6; }
.pcard .ui-dialog-titlebar { -moz-border-radius: 3px 3px 0px 0px; border-radius: 3px 3px 0px 0px; border: 1px solid #cfcfcf; border-bottom: none; padding: 0.3em 0.818em; word-wrap: break-word; font-weight: bold; font-size: 1.1em; background: url('../images/ui-dialog-pcard-titlebar.png'); }
.pcard .ui-dialog-titlebar .ui-dialog-title { color: #333333; }
.pcard .ui-dialog-titlebar .ui-dialog-gradient { display: none; }
.pcard .ui-dialog-titlebar .ui-dialog-titlebar-close { margin-top: -9px; right: 1px; top: 50%; }
.pcard .ui-icon-closethick { background-image: url('../images/ui-icons_454545_256x240.png'); }
.pcard .ui-dialog-content-wrapper { border: none; border-top: 1px solid white; margin: 0; background-color: transparent; background-repeat: no-repeat; background-attachment: left top; }
.pcard .ui-dialog-content { border: none; padding: 1em; }
.pcard .card_photo { float: left; }
.pcard .card_photo img { border: 1px solid #333333; border-radius: 3px; }
.pcard .card_content { color: #333333; padding-left: 125px; }
.pcard .card_content .tooltip { position: absolute; left: -22px; top: -2px; }
.pcard .card_content .tooltip_wrapper { position: relative; margin: 0; }
.pcard .card_content h6 { font-size: 1.5em; margin-top: 0.2em; margin-bottom: 1em; line-height: 1em; }
.pcard hr { border-width: 0; margin: 0; }
.pcard .card { padding: 0; font-size: 1.1em; }
.pcard .card div { margin-top: 2px; }
.pcard .ui-dialog-buttonpane { background: transparent; margin: 0; border: none; }

.pcard.ui-lightdialog-loading { border-bottom-color: white; }

.ui-lightdialog-active-target { font-weight: bold; }

.pcard_inline { height: auto; width: 500px; position: relative; padding: 1em; }
.pcard_inline table.card td { padding-left: 0; }
.pcard_inline .ui-dialog-content-wrapper { border-top: none; }
.pcard_inline .ui-dialog-content { padding: 0; }

.ie7 .pcard_inline img { float: left; }

.help-card { -moz-box-shadow: 0px 1px 21px #1d2a3d; -webkit-box-shadow: 0px 1px 21px #1d2a3d; box-shadow: 0px 1px 21px #1d2a3d; background-color: #edf1f9; }
.help-card .ui-widget-header, .help-card .ui-widget-header a, .help-card .ui-widget-content, .help-card .ui-widget-content a { color: #333333; }
.help-card .ui-dialog-content-wrapper { border: 0 none; }
.help-card .ui-dialog-content { border-bottom: 0 none; border-top: 0 none; }
.help-card .ui-dialog-buttonpane { border-top: 1px solid #333b74; border-bottom: 1px solid #333b74; }

.ui-progressbar { padding: 1px; margin: 0; position: relative; border: 1px solid #c5d0d7; -moz-border-radius: 2px; border-radius: 2px; }
.ui-progressbar .gradient-me { display: block; }
.ui-progressbar .gradient-me-again { display: none; }
.ui-progressbar .ui-progressbar-value { margin: 0; padding: 0; background-color: #474c76; width: 0%; overflow: hidden; position: relative; z-index: 0; }
.ui-progressbar .ui-progressbar-value .gradient-me { display: none; }

.ui-progressbar, .ui-progressbar .gradient-me, .ui-progressbar .ui-progressbar-value, .progressbar-normal, .progressbar-normal .gradient-me, .progressbar-normal .ui-progressbar-value { height: 1.5em; }
.ui-progressbar .ui-progressbar-value, .progressbar-normal .ui-progressbar-value { margin-top: -1.5em; }

.progressbar-large, .progressbar-large .gradient-me, .progressbar-large .ui-progressbar-value { height: 2em; }
.progressbar-large .ui-progressbar-value { margin-top: -2em; }

.progressbar-xlarge, .progressbar-xlarge .gradient-me, .progressbar-xlarge .ui-progressbar-value { height: 3em; }
.progressbar-xlarge .ui-progressbar-value { margin-top: -3em; }

.progressbar-small, .progressbar-small .gradient-me, .progressbar-small .ui-progressbar-value { height: 1em; }
.progressbar-small .ui-progressbar-value { margin-top: -1em; }

.progressbar-xsmall, .progressbar-xsmall .gradient-me, .progressbar-xsmall .ui-progressbar-value { height: 0.5em; }
.progressbar-xsmall .ui-progressbar-value { margin-top: -0.5em; }

.breadcrumbs { margin: 0.273em 19px 0.273em 0; line-height: 1.5em; position: relative; }
.breadcrumbs .separator { text-indent: -9999em; text-align: left; width: 17px; height: 15px; display: inline-block; background: url('../images/breadcrumbs-separator.png') left -30px no-repeat; line-height: 15px; vertical-align: middle; }
.breadcrumbs .wmenu { cursor: pointer; background: url('../images/breadcrumbs-separator.png') left top no-repeat; }
.breadcrumbs .wmenu:hover { background-position: left -45px; }

.breadcrumbs .active_separate { background: url('../images/breadcrumbs-separator.png') no-repeat left -15px; }
.breadcrumbs .active_separate:hover { background-position: left -15px; }

.ie7 .breadcrumbs { zoom: 1; }

button, input[type="submit"], input[type="button"], .ui-button, .ui-button-text-only { margin: 0.5em 0.727em 0.5em 0; -moz-border-radius: 2px; border-radius: 2px; font-size: 1em; -moz-box-shadow: inset 0px 0px 1px 1px white; -webkit-box-shadow: inset 0px 0px 1px 1px white; box-shadow: inset 0px 0px 1px 1px white; color: #5d6970; padding: 0.182em 0.727em; line-height: 1.25em; overflow: visible; position: relative; text-decoration: none; display: inline-block; zoom: 1; }
button img, input[type="submit"] img, input[type="button"] img, .ui-button img, .ui-button-text-only img { vertical-align: middle; margin: 0; }
.ie7 button, .ie7 input[type="submit"], .ie7 input[type="button"], .ie7 .ui-button, .ie7 .ui-button-text-only { padding-top: 0; padding-bottom: 0; padding-left: 0.727em !important; padding-right: 0.727em !important; }
button .ui-button-text, input[type="submit"] .ui-button-text, input[type="button"] .ui-button-text, .ui-button .ui-button-text, .ui-button-text-only .ui-button-text { padding: 0; line-height: 1.25em; display: inline; }
button, button.ui-state-default, input[type="submit"], input[type="submit"].ui-state-default, input[type="button"], input[type="button"].ui-state-default, .ui-button, .ui-button.ui-state-default, .ui-button-text-only, .ui-button-text-only.ui-state-default { background: #c9d3d9 url('../images/ui-button-bg.gif') left center repeat-x; border: 1px solid #b1c0ca; }
button:active, button.ui-state-active, input[type="submit"]:active, input[type="submit"].ui-state-active, input[type="button"]:active, input[type="button"].ui-state-active, .ui-button:active, .ui-button.ui-state-active, .ui-button-text-only:active, .ui-button-text-only.ui-state-active { background-image: url('../images/ui-button-active-bg.gif'); }
button:disabled, button.ui-state-disabled, input[type="submit"]:disabled, input[type="submit"].ui-state-disabled, input[type="button"]:disabled, input[type="button"].ui-state-disabled, .ui-button:disabled, .ui-button.ui-state-disabled, .ui-button-text-only:disabled, .ui-button-text-only.ui-state-disabled { background-image: url('../images/ui-button-bg.gif') !important; color: #acb5ba; border-color: #acb5ba; text-shadow: white 1px 1px 0; opacity: 1; filter: none; -ms-filter: none; cursor: default; }
button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, .ui-button::-moz-focus-inner, .ui-button-text-only::-moz-focus-inner { border: 0; padding: 0; }

.ui-button-icon-only, .ui-button-icons-only { width: 2em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { display: block; }

.ui-button.ui-state-disabled { opacity: 0.4; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); }

table.main { border-collapse: separate; empty-cells: show; border: 0 solid #c5d0d7; border-width: 0 0 1px 0; -moz-border-radius-bottomleft: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; border-bottom-right-radius: 2px; }
table.main th, table.main td { text-align: left; }
table.main th { padding: 0.182em 0.636em; font-weight: normal; background: #e2ecf2 url('../images/ui-button-bg.gif') left center repeat-x; }
table.main td { padding: 0.818em 0.636em; background-color: white; }
table.main > * > tr > td { border: 0 solid #c5d0d7; border-width: 0 1px 0 0; }
table.main > * > tr > th { border: 0 solid #b1c0ca; border-width: 0 1px 1px 0; }
table.main > * > tr > th:first-child, table.main > * > tr > td:first-child { border-left-width: 1px; }
table.main > thead > tr:first-child > *:first-child, table.main > tbody > tr:first-child > *:first-child { -moz-border-radius-topleft: 2px; border-top-left-radius: 2px; }
table.main > thead > tr:first-child > *:last-child, table.main > tbody > tr:first-child > *:last-child { -moz-border-radius-topright: 2px; border-top-right-radius: 2px; }
table.main > thead > tr:first-child > th, table.main > thead > tr:first-child > td, table.main > tbody > tr:first-child > th, table.main > tbody > tr:first-child > td { border-top-width: 1px; }
table.main > thead + tbody > tr:first-child > *:first-child { -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; }
table.main > thead + tbody > tr:first-child > *:last-child { -moz-border-radius-topright: 0px; border-top-right-radius: 0px; }
table.main > thead + tbody > tr:first-child > th, table.main > thead + tbody > tr:first-child > td { border-top-width: 0; }
table.main > tfoot > tr:first-child > th, table.main > tfoot > tr:first-child > td { border-top-width: 1px; }
table.main > tbody > tr:nth-of-type(odd) > td, table.main > thead + tbody > tr:nth-of-type(even) > td { background-color: #f0f2f4; border-top: 1px solid white; border-bottom: 1px solid white; }
table.main > tbody > tr:first-child > td { border-top-color: #c5d0d7; background-color: white; }
table.main > thead + tbody > tr:nth-of-type(odd) > td { background-color: white; border-top-width: 0; border-bottom-width: 0; }
table.main > tbody > tr:last-of-type > td, table.main > thead + tbody > tr:last-of-type > td { border-bottom-width: 0; }
table.main > tfoot > tr > td, table.main > tfoot > tr > th { background-color: #dde4ea; background-image: none; }
table.main > tfoot:nth-of-type(n) > tr:only-of-type td:only-child, table.main > tfoot:nth-of-type(n) > tr:only-of-type th:only-child { -moz-box-shadow: inset 0 0 0 1px #eef2f5; -webkit-box-shadow: inset 0 0 0 1px #eef2f5; box-shadow: inset 0 0 0 1px #eef2f5; }
table.main > tfoot:nth-of-type(n) > tr > td, table.main > tfoot:nth-of-type(n) > tr > th { border-right-color: #dde4ea; }
table.main > tfoot:nth-of-type(n) > tr > td:first-child, table.main > tfoot:nth-of-type(n) > tr > th:first-child { border-left-color: #c5d0d7; }
table.main > tfoot:nth-of-type(n) > tr > td:last-child, table.main > tfoot:nth-of-type(n) > tr > th:last-child { border-right-color: #c5d0d7; }
table.main > tfoot:nth-of-type(n) > tr:last-child > *:first-child { -moz-border-radius-bottomleft: 2px; border-bottom-left-radius: 2px; }
table.main > tfoot:nth-of-type(n) > tr:last-child > *:last-child { -moz-border-radius-bottomright: 2px; border-bottom-right-radius: 2px; }

.ie7 table.main > tbody > tr.even > td, .ie8 table.main > tbody > tr.even > td { background-color: #f0f2f4; }

.ie7 table.main table.main { width: auto; }

ul.dynatree-container { margin: 0; padding: 0; border: none; overflow: hidden; background-color: transparent; font-family: "PT Sans", verdana, sans-serif; font-size: 1em; word-wrap: break-word; white-space: normal; }
ul.dynatree-container ul { margin: 0; padding: 0 0 0 16px; }
ul.dynatree-container li { list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0; padding: 0; }

.ui-dynatree-disabled ul.dynatree-container { opacity: 0.5; }

span.dynatree-empty, span.dynatree-vline, span.dynatree-connector, span.dynatree-expander, span.dynatree-icon, span.dynatree-checkbox, span.dynatree-radio, span.dynatree-drag-helper-img, #dynatree-drop-marker { width: 16px; height: 16px; display: block; position: absolute; top: 0.2em; background-repeat: no-repeat; overflow: hidden; margin: 0; }

span.dynatree-connector, span.dynatree-expander { left: -36px; }

.dynatree-loading span.dynatree-expander { background-image: none; cursor: default; }

span.dynatree-checkbox, span.dynatree-radio { left: -36px; }

span.dynatree-icon { cursor: pointer; left: -18px; background-image: url('../images/dynatree/icons.png'); background-position: -16px -32px; }

.dynatree-ico-cf span.dynatree-icon { background-position: -16px 0; }

.dynatree-ico-ef span.dynatree-icon { background-position: -16px -16px; }

.dynatree-statusnode-wait span.dynatree-icon, .dynatree-statusnode-wait span.dynatree-icon:hover, .dynatree-loading span.dynatree-icon, .dynatree-loading span.dynatree-icon:hover { cursor: default; background-image: url('../images/dynatree/clox.gif'); background-position: center center; }

span.dynatree-node { display: block; position: relative; left: 36px; margin-right: 36px; min-height: 1.5em; padding: 0.1em 0; }

ul.dynatree-container a { color: #333333; text-decoration: none; vertical-align: top; border: 1px solid transparent; -moz-border-radius: 2px; border-radius: 2px; }
ul.dynatree-container a:hover { background-color: transparent; border-color: transparent; }

span.dynatree-node a { padding: 0.2em; margin: 0; display: inline-block; }
span.dynatree-node a:hover { text-decoration: underline; }

span.dynatree-folder a:hover { text-decoration: none; }

span.dynatree-selected a, span.dynatree-selected a:hover { text-decoration: underline; font-style: normal; }

ul.dynatree-container a:hover { background-color: transparent; border-color: transparent; }

ul.dynatree-container a:focus, span.dynatree-focused a:link { background-color: transparent; }

span.dynatree-active a, span.dynatree-active a:focus, span.dynatree-active a:hover, span.dynatree-active a:link { border-color: #99defd; background-color: #d8f0fa; }

ul.dynatree-container a:focus, span.dynatree-focused a:link { outline: none; border-color: black; border-style: dotted; }

.subject-catalog-categories { margin-top: 0.5em; }

fieldset.subject-catalog-tree { border: 1px solid #b1c0ca; padding: 0.5em; border-radius: 5px; }
fieldset.subject-catalog-tree legend { padding: 0 0.3em; font-weight: bold; }
fieldset.subject-catalog-tree select { width: 340px; }

table.main-grid th { background-image: url('../images/ui-button-bg.gif'); background-position: left center; background-repeat: repeat-x; }
table.main-grid td.no-score { background-image: url('../images/content-container/background-pattern.png'); }
table.main-grid .total-score-label { background-color: #222853; }
table.main-grid td.slider-cell { padding: 10px 10px; }

#marksheet-slider { height: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#marksheet-slider .ui-slider-handle { background: transparent url('../images/ui-slider.png') center center no-repeat; width: 20px; height: 20px; border: 0 solid; margin-left: -10px; top: -9px; -moz-border-radius: 10px; border-radius: 10px; }

.ui-multiselect { font-size: 1em; -moz-border-radius: 3px; border-radius: 3px; padding: 5px; border: 1px solid #cfcfcf; background-color: #eaeff2; }
.ui-multiselect ul.available, .ui-multiselect ul.selected { background: transparent; }
.ui-multiselect div.available { margin-right: 2px; }
.ui-multiselect div.selected { margin-left: 2px; }
.ui-multiselect ul.connected-list { margin-bottom: 5px; }
.ui-multiselect .ui-widget-header { background-color: transparent; font-size: 1em; margin-bottom: 0; }
.ui-multiselect .selected .actions { text-align: right; }
.ui-multiselect .all-label { float: left; }
.ui-multiselect input.search { border: 1px solid #222853; height: 14px; float: right; padding: 0; opacity: 1; margin: 0; }
.ui-multiselect div.labels { padding: 0 2px 5px; line-height: 1.6em; }
.ui-multiselect .count, .ui-multiselect .search, .ui-multiselect .remove-all, .ui-multiselect .add-all { float: none; padding: 0; }
.ui-multiselect div.selected, .ui-multiselect div.available { border: 0 solid; }
.ui-multiselect ul.available { border: 1px solid #eaeff2; }
.ui-multiselect div.selected div.labels, .ui-multiselect div.selected ul.selected { background-color: #d8dee3; }
.ui-multiselect div.selected div.labels { border-top: 1px solid #c9c9c9; }
.ui-multiselect ul.selected { border-bottom: 1px solid white; }
.ui-multiselect div.selected div.labels, .ui-multiselect ul.selected { border-left: 1px solid #d0d2d5; border-right: 1px solid #d0d2d5; }
.ui-multiselect li { background: transparent; min-height: 20px; line-height: 20px; height: auto; font-size: 1em; }
.ie6 .ui-multiselect li { height: 20px; }
.ui-multiselect li, .ui-multiselect ul li, .ui-multiselect ul.selected li, .ui-multiselect ul.available li { padding: 2px; padding-right: 23px; }
.ui-multiselect li a { color: inherit; }
.ui-multiselect li.ui-state-hover { background-color: #fff9cb; }
.ui-multiselect li.ui-state-selected { background-color: #222853; color: white; }
.ui-multiselect li a.action { display: none; }
.ui-multiselect li.ui-state-hover a.action { display: block; }
.ui-multiselect .connected-list .ui-icon { display: none; }
.ui-multiselect .connected-list a.action { position: absolute; top: 2px; right: 2px; margin-top: 0; }
.ui-multiselect .connected-list a.action, .ui-multiselect .connected-list a.action .ui-icon { width: 20px; height: 20px; }
.ui-multiselect .connected-list a.action .ui-icon { display: block; background: transparent url('../images/multiselect.png') top left no-repeat; }
.ui-multiselect .available a.action .ui-icon { background-position: 0 0; }
.ui-multiselect .selected a.action .ui-icon { background-position: -20px 0; }

.facebook-auto { color: red; }

.l-bgc { background-color: #5b94bc; }

.lh-bgc { background-color: #1171b4; }

.la-bgc { background-color: #5b94bc; }

.l-c { color: #5b94bc; }

.lh-c { color: #1171b4; }

.la-c { color: #5b94bc; }

.t-bgc { background-color: #333333; }

.t-c { color: #333333; }

body { background-image: url('../images/bg.svg'); background-position: center top; background-repeat: no-repeat; }

#container { margin: 0; background: transparent url('../images/container-background-pattern.png') left bottom repeat-x; }

h1 { font-weight: bold; }

#header, #footer, #main { margin-left: 1.909em; margin-right: 1.909em; }

#header { position: relative; }

#logo { margin-left: 2px; }
#logo div { -moz-box-shadow: 0 1px 2px 0 #a7b0be; -webkit-box-shadow: 0 1px 2px 0 #a7b0be; box-shadow: 0 1px 2px 0 #a7b0be; }
#logo div div { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; margin-left: -2px; margin-right: -2px; }

#user-block .name { margin-top: 0.5em; line-height: 1.231em; }
#user-block .logout { margin-top: 0; }

#search-block input.input-seach { border-style: solid; -moz-border-radius: 2px; border-radius: 2px; }
#search-block input.submit-search { text-decoration: underline !important; }

.ui-selectmenu { -moz-border-radius-topleft: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; border-top-right-radius: 3px; }

.ui-selectmenu-status { border-right-width: 0; }

.ui-selectmenu .ui-selectmenu-icon { border-left-width: 0; background-image: url('../images/ui-icons_455b81_256x240.png'); }

#main .els-body { width: auto; border: 1px solid #c4cedf; border-width: 0 1px; }
#main .tab-bar { padding-top: 0; border: 0 solid #c4cedf; border-width: 1px 1px 0; margin: 0; }
#main .tab-bar, #main .tab-bar .wrapper { -moz-border-radius-topleft: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; border-top-right-radius: 3px; }
#main .tab-bar .wrapper { margin: 0; border: 1px solid #eff3f9; border-bottom-color: #dfe3e9; }
#main .tab-bar ul li.ui-state-active { border-top-color: #c4c9ce; }
#main .tab-bar ul li.ui-tabs-selected { position: relative; bottom: -1px; }

.page-context-accordion h3.ui-accordion-header .gradient-me-again { display: none; }

.page-context-accordion .ui-accordion-content { background-color: #edf1f9; border-color: #9ba9c1; }

.page-context-accordion .ui-accordion-content ul li { border-top-color: #f9fafc; border-bottom-color: #d2ddef; }

.page-context-accordion h3.ui-accordion-header { margin-top: 0; }

.page-context-accordion h3.ui-accordion-header, .page-context-accordion h3.ui-accordion-header * { font-weight: bold !important; }

.page-context-accordion h3.ui-accordion-header { margin-top: -1px; text-shadow: 0 1px #e0e9f9; }

.page-context-accordion h3.ui-state-active { margin-top: 1px; }

.page-context-accordion div.ui-accordion-content-active { margin-bottom: 2px; }

.accordion-expander { right: -16px; }

.ui-portlet-titlebar { background-color: transparent; }

.ui-portlet-titlebar h3, .ui-portlet-titlebar h3 a { font-weight: bold; text-shadow: 0 1px #e0e9f9; }

.ui-portlet-body-wrapper, .ui-portlet-body { border-color: #9ba9c1; }

.ui-portlet-body-wrapper .ui-portlet-body-wrapper { background-color: #edf1f9; }

.course-navigation .gradient-me { height: 100%; }
.course-navigation .gradient-me-again, .course-navigation .gradient-hr { display: none; }

#footer { border: 1px solid #d1d1d2; border-top-width: 0; }
#footer, #footer .wrapper { -moz-border-radius-bottomleft: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; border-bottom-right-radius: 3px; }
#footer .wrapper { border-width: 1px; border-top-color: #d1d5c8; padding: 0; }
#footer .wrapper, #footer #credits { margin: 0; }
#footer #credits { border-width: 0; background-repeat: repeat-x; }
